
@font-face {
	font-family: "robotoregular";
	src: url("../fonts/roboto/robotoregular/roboto-regular.eot");
	src: url("../fonts/roboto/robotoregular/roboto-regular.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/roboto/robotoregular/roboto-regular.woff") format("woff"),
		 url("../fonts/roboto/robotoregular/roboto-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "robotoblack";
	src: 
		url("../fonts/roboto/robotoblack/roboto-black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "robotobold";
	src: url("../fonts/roboto/robotobold/roboto-bold.eot");
	src: url("../fonts/roboto/robotobold/roboto-bold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/roboto/robotobold/roboto-bold.woff") format("woff"),
		 url("../fonts/roboto/robotobold/roboto-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "gothamproblack";
	src: url("../fonts/gothampro/gothamproblack/gothampro-black.eot");
	src: url("../fonts/gothampro/gothamproblack/gothampro-black.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/gothampro/gothamproblack/gothampro-black.woff") format("woff"),
		 url("../fonts/gothampro/gothamproblack/gothampro-black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "gothamprobold";
	src: url("../fonts/gothampro/gothamprobold/gothampro-bold.eot");
	src: url("../fonts/gothampro/gothamprobold/gothampro-bold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/gothampro/gothamprobold/gothampro-bold.woff") format("woff"),
		 url("../fonts/gothampro/gothamprobold/gothampro-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "gothamproregular";
	src: url("../fonts/gothampro/gothamproregular/gothampro-regular.eot");
	src: url("../fonts/gothampro/gothamproregular/gothampro-regular.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/gothampro/gothamproregular/gothampro-regular.woff") format("woff"),
		 url("../fonts/gothampro/gothamproregular/gothampro-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "rouble";
	src: url("../fonts/rouble.otf") format("opentype");;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "museosansregular";
	src: url("../fonts/museo/museosansregular.eot");
	src: url("../fonts/museo/museosansregular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/museo/museosansregular.woff") format("woff"),
	url("../fonts/museo/museosansregular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

