@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
}

*{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}
.align-right{
	text-align: right;
}

.footer{
	color: #5e5e5e;
	padding: 35px 0 0 0;
	font-size: 14px;
	&-list__title{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		color: black;
		margin-bottom: 25px;
		display: inline-block;
	}
	&-list{
		list-style: none;
		&.footer-list_social-items{
			margin: 50px 0;
			text-align: center;
		
			@include breakpoint(phablet){
				margin-top: -190px;
			}
		}
	}
	&-list__item{
		margin-bottom: 15px;
	}
	&-info__phone{
		margin-bottom: 10px;
	}
	&-info{
		font-size: 12px;
		&__text{
			margin-top: 15px;
			
		}
	}
	&-rights{
		font-size: 12px;
		text-align: center;
		padding: 15px;
	}
	
	a{
		text-decoration: none;
		color: #5e5e5e;
	}
	hr{
		color: #5e5e5e;
			
	}

}
