@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em)  { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
}

*{
	font-family: 'robotoregular', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}
.align-right{
	text-align: right;
	&_mobileonly{
		@include breakpoint(mobileonly){
			text-align: right;
		}
	}
}

.product{
	
	border-top: 2px solid #d4d8db;
	border-bottom: 2px solid #d4d8db;
	&:nth-child(odd){border-right: 2px solid #d4d8db;}
	padding: 20px 5px 20px 20px;
	
	@include breakpoint(tablet){
		text-align: left;
		border: 2px solid #d4d8db;
	}
	a{
		text-decoration: none;
		color: black;
	}
	&__add-favorite{
		text-align: right;
		margin-right: 5px;
		margin-top: -5px;
		display: block;
		height: 35px;
		line-height: 35px;
		position: relative;
		cursor: pointer;
		
		&:after{
			content: "";
			display: inline-block;
			height: 40px;
			width: 40px;
			border: 2px solid #d4d8db;
			position: absolute;
			border-radius: 20px;
			top: -25%;
			right: -4.5px;
			
			
			
		}
	}
	&__img{
		text-align: center;
		margin: 20px 0;
		min-height: 120px;
		
	}
	&__name{
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
		margin-bottom: 20px;
		@include breakpoint(tablet){
			text-decoration: underline;
			text-decoration-color: #f2762e;
		}
		
		a{font-weight: bold;}
	}
	__text{
		font-size: 11px;
		font-family: 'Arial', sans-serif;
		color: #d4d8db;
		display: none;
		
		
	}
	&__price{
		font-size: 24px;
		font-family: 'gothamproblack', sans-serif;
		margin: 15px 0;
		color: #f2762e;
		
		@include breakpoint(tablet){
			margin: 20px 0;
			display: inline-block;
		}
		
	}
	&__add-to-card{
		font-size: 19px;
		color: white;
		margin-bottom: 15px;
		padding: 10px;
		background-color: #f2762e;
		display: inline-block;
		border-radius: 5px;
		@include breakpoint(tablet){
			margin-top: 15px;
			float: right;
			margin-right: 20px;
		}
		
		a{
			color: white;
			font-weight: bold;
		
		}
	}
	
}
.slider-arrows{
	position: relative;
	//z-index: 10;
	display: none;
	@include breakpoint(tablet){
		display: block;
		
	}
	
	&:before{
		content: "";
		position: absolute;
		width: 80px;
		height: 40px;
		border: 2px solid #d4d8db;
		border-radius: 5px;
		top: -62px;
		right: 0px;
	}
	&:after{
		content: "";
		position: absolute;
		width: 2px;
		height: 40px;
		background-color: #d4d8db;
		top: -62px;
		right:40px;
	}
	&-2{
		position: relative;
		display: none;
		@include breakpoint(tablet){
			display: block;

		}
		&:before{
			content: "";
			position: absolute;
			width: 80px;
			height: 40px;
			border: 2px solid #d4d8db;
			border-radius: 5px;
			top: -62px;
			right: 0px;
		}
		&:after{
			content: "";
			position: absolute;
			width: 2px;
			height: 40px;
			background-color: #d4d8db;
			top: -62px;
			right:40px;
		}
		.arrow {
			position: absolute;
			top: -40px;
			width: 16px;
			height:16px;
			background: transparent;
			border-top: 2px solid #d4d8db;
			border-right:2px solid #d4d8db;
			box-shadow: 0 0 0 lightgray;
			transition: all 200ms ease;
			&.left {
				right: 50px;
				transform: translate3d(0,-50%,0) rotate(-135deg);
			}
			&.right {
				right: 17px;
				transform: translate3d(0,-50%,0) rotate(45deg);
			}
		}
		
	}
	.arrow {
		position: absolute;
		top: -40px;
		width: 16px;
		height:16px;
		background: transparent;
		border-top: 2px solid #d4d8db;
		border-right:2px solid #d4d8db;
		box-shadow: 0 0 0 lightgray;
		transition: all 200ms ease;
		&.left {
			right: 50px;
			transform: translate3d(0,-50%,0) rotate(-135deg);
		}
		&.right {
			right: 17px;
			transform: translate3d(0,-50%,0) rotate(45deg);
		}
	}
}
.lslide{
	margin-right: 0px;
}
@include breakpoint(mobileonly){
	.product_off-bottom-border{
		border-bottom: none;
	}
}
@include breakpoint(phablet){
	.product_off-bottom-border{
		border-bottom: none;
	}
}

.section{
	margin-top: 40px;
	margin-bottom: 40px;
	&__title{
		font-family: 'gothamproblack', sans-serif;
		font-size: 30px;
		margin-bottom: 25px;
		text-align: center;
		@include breakpoint(tablet){
			text-align: left;
		}
	}
}
.footer{
	color: #5e5e5e;
	padding: 35px 0 0 0;
	font-size: 14px;
	background-color: #f2f3f4;
	&-list__title{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		color: black;
		margin-bottom: 25px;
		display: inline-block;
	}
	&-list{
		list-style: none;
		&.footer-list_social-items{
			margin: 50px 0;
			text-align: center;
			
		
			@include breakpoint(phablet){
				margin-top: -180px;
				margin-bottom: 100px;
				width: 70vw;
			}
			
			@include breakpoint(tablet){
				margin: 0 0 50px 0;
				width: auto;
				text-align: left;
			}
		}
		&__social-item{
			display: inline-block;
			margin-right: 15px;
			&first-child{margin-left: 15px;}
		}
	}
	&-list__item{
		margin-bottom: 15px;
	}
	&-info__phone{
		margin-bottom: 10px;
	}
	&-payment{
		display: none;
		@include breakpoint(tablet){
			display: block;
			max-width: 300px;
		}
		&__text{
			font-size: 12px;
			text-transform: none;
			font-weight: normal;
			color: #5e5e5e;
			font-size: 12px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		&__img a{
			display: inline-block;
			margin: 10px;
			&:first-child{
				margin-left:0;
			}
			
		}
		
	}
	&-info{
		font-size: 12px;
		&__text{
			margin-top: 15px;
			&_chat{
				margin-bottom: 20px;;
			}
			
			
		}
		&__adress{
			@include breakpoint(phablet){
				margin-left: 10vw;
			}
			@include breakpoint(laptop){
				margin-left: 0;
			}
			
			
		}
		
	}
	&-rights{
		font-size: 12px;
		text-align: center;
		padding: 15px;
	}
	
	a{
		text-decoration: none;
		color: #5e5e5e;
		&:hover{
			color: #ed762e;
		}
	}
	hr{
		display: block;
		color: #5e5e5e;
		height: 1px;
		border: none;
		background: #5e5e5e;
		margin: 25px -10px 0 -10px;
		
			
	}

}

a{
	text-decoration: none;
}

button, input {
	margin: 0;
	padding: 0;
}

.header-top{
	position:relative;
	background: #fff;
	padding: 8px 0;
	font-size: 14px;
	border-bottom: 1px solid #d4d8db;
}

.header-bottom{
	background: #f2f3f4;
	padding: 20px 0;
}
.header-bottom-content{
	display:flex;
	flex-wrap: no-wrap;
	align-items: center;
	justify-content: space-between;
	a{
		color: #fff;
	}
}

.logo{
	flex-grow: 1;
	margin-right:20px;
	vertical-align: top;
	text-align: center;
	@include breakpoint(tablet){
		display: inline-block;
	}
}

.location{
	font-size: 12px;
	display: inline-block;
	position: relative;
	a{	
		color: #f2762e;
		text-decoration: none;
		border-bottom: 1px dashed #f2762e;
	}
	img{
		display: none;
		@include breakpoint(tablet){
			position: absolute;
			left:2;
			display: inline-block;
			margin-right: 5px;
		}
	}
	@include breakpoint(tablet){
		margin-right: 50px;
		padding-left: 20px;
	}
	@include breakpoint(laptop){
		margin-right: 190px;
	}
}

.btn{
	display: inline-block;
	background: #f2762e;
	text-align: center;
	&_callback{
		border-radius: 30px;
		font-size: 14px;
		margin-right:20px;
		padding:10px;
	}
}


.contact-info{
	display: inline-block;
	flex-grow: 1;
	margin-right:20px;
	vertical-align: top;
}

.telephone{
	a{
		color: #000;
		span:nth-child(2){
			font-family: 'robotobold';
		}
	}
	@include breakpoint(tablet){
		float: none;
		display: block;
		font-size: 18px;
	}
	@include breakpoint(laptop){
		float: none;
		display: block;
		font-size: 24px;
	}
	&_top-line{
		position: absolute;
		top: -5px;
		right: 10px;
		vertical-align: top;
		font-size: 18px;
	}
}

.social-hrefs{
	display: none;
	a{	
		margin: 0 15px;
	}
	@include breakpoint(tablet){
		display: inline-block;
	}
}

.search{
	display:none;
	@include breakpoint(tablet){
		display: inline-block;
		flex-grow: 300;
	}
	form{
		position: relative;
		input{
			-webkit-appearance: textfield;
			outline: none;
			padding: 15px 10px;
			padding-right: 50px;
			border-radius: 3px;
			border: 1px solid #c8c8c8;
			outline: none;
			width: 100%;
		}
		button{
			outline: none;
			height: 100%;
			padding: 0 15px;
			background: #f2762e;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 0 3px 3px 0;
		}
	}
}

.enter{
	display: none;
	font-size:14px;
	@include breakpoint(tablet){
		display: inline-block;
		float: right;
		position: relative;
		top: 8px;
	}
	a{
		color: #292929;
	}
	span{
		margin-right:15px;
	}
	:last-child{
		float: none;
	}
	img{
		position:relative;
		top:4px;
		margin-right: 10px;
	}
}
.add-border{
	border-right: 1px solid #2b2b2b;
}

.main-menu{
	position: relative;
	background: #424242;
	z-index: 6;
	ul{
		margin: 0 -10px;
		display:flex;
		flex-wrap: no-wrap;
		align-items: stretch;
		align-content: center;
		justify-content: space-between;
		color: #fff;
		list-style: none;
		@include breakpoint(tablet){
			margin: 0;
		}
		a{
			padding: 0 10px;
		}
		li{		
			flex-grow: 1;
			text-align: center;
			font-family: 'robotoblack';
			font-size: 18px;
			padding: 15px 0;
			position: relative;
			@media(min-width:800px)and(max-width:1130px){
				padding: 10px 0;
				font-size: 16px;
			}
			a{
				color: #fff;
				padding: 3px;
				border-radius: 2px;
				display: inline-block;
			}
			.shopping-sum{
				vertical-align: top;
				margin-left: 5px;
				color:#f2762e;
				font-size: 18px;
				font-family: 'gothamproblack';
				@include breakpoint(tablet){
					display: inline-block;
				}
			}
			a:hover{
				background: #f2762e;
			}	
			.no-hover{
				display: block;
				&:hover{
					background: none;
				}
			}
			ul{
				display: none;
				position: absolute;
				top: 100%;
				z-index: 10;
				left: 10px;
				width: 100vw;
				font-size: 14px;
				overflow-x: scroll;
				background: #fff;
				color: #5e5e5e;
				list-style: none;
				padding: 10px;
				@include breakpoint(tablet){
					left: 0px;
					display:block;
					width:267px;
					border: 1px solid #e3e3e3;
					box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.38);
				}
				li:last-child{
					margin-top: 15px;
					padding: 20px 0;
					border-top: 1px solid #dbddde;
					@include breakpoint(tablet){
						display: none;
					}
					&:hover{
						color: #5e5e5e;
					}
					a{
						color: #5e5e5e;
						display: inline-block;
					}
					span{
						margin-right:15px;
					}
					:last-child{
						float: none;
					}
					img{
						position:relative;
						top:4px;
						margin-right: 10px;
					}
				}
			}
			li{
				padding: 6px 0;
				display: block;
				font-size : 14px;
				text-align: left;
				width: 100%;
				border: none;
				:last-child{
					float: right;
				}
				&:hover{
					color: #e0641c;
				}
			}
		}	
	}
}

.menu-list{
	width: 20%;
	@include breakpoint(tablet){
		background: #323232;
	}
}

.dashed{
	color: #f2762e;
	text-decoration: none;
	border-bottom: 1px dashed #f2762e;
}
	
.catalog{
	// position: relative;
	padding-left: 40px;
}

.cart-item-count{
	position: absolute;
	top: -5px;
	right: -10px;
	width: 20px;
	height: 16px;
	display: inline-block;
	font-size: 14px;
	border-radius: 40%;
	text-align: center;
	background: #f68b23;
	color: white;
	line-height: 16px;
}

.shoppingcart{
	display: inline-block;
	position: relative;
}

.bars{
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 10px;
	width:30px;

}

.bar{
	height:2px;
	background:#fff;
	margin:4px 0;
}

.active .bar:nth-child(2){
	opacity:0;

}

.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(4px) translateX(0px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}

.bar{
	transition: all 1s ease;
}

.search-form{
	display:none;
	z-index: 10;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	padding: 10px;
	background: #f2f3f4;
	form{	
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 18px;
			width: 100%;
			padding: 15px;
			padding-right: 90px;
		}
		button{
			outline: none;
			position: absolute;
			top: 10px;
			right: 10px;
			background: #f2762e;
			padding: 15px;
			color: #fff;
			font-size: 18px;
		}
	}
}
.article{
	margin: 20px 0;
	position:relative;
	display:inline-block;
	img{
		max-width:100%;
	}
	&__info{
		padding:0 20px;
		position: absolute;
		bottom: 20px;
		color: #fff;
		a{
			color: #fff;
		}
	}
	&__title{
		text-align:left;
		font-family: 'robotoblack';
		text-decoration:none;
		display: block;
		font-size:15px;
	}
	&__pub-date{
		font-family: 'arial';
		text-align:left;
		display:block;
		font-size: 11px;
	}
	&__pic{
		display:inline-block;
		position: relative;
		img {
			opacity: 1;
			display: block;
		}
	}
}

.popular-section{
	margin: 0 auto;
	display: block;
	max-width: 220px;
	padding: 20px 10px;
	text-align: center;
	border-radius: 5px;
	@media(min-width:800px)and(max-width:1130px){
		min-height: 152px;
	}
	img{
		height: 60px;
		margin-bottom: 10px;
	}
	&_grey{
		background: #f2f3f4;
	}
	&_blue{
		background: #d3e6f8;
	}
	&_pink{
		background: #ffe8da;
	}
	&_cyan{
		background: #d6eef5;
	}
	&_green{
		background: #e5f2dc;
	}
	span{
		display: block;
		color: #000;
		font-family: 'robotobold';
		font-size: 15px;
	}
}

.dealers{
	text-align: center;
	margin-bottom: 30px;
	span{
		font-family: 'gothamproblack';
		font-size: 21px;
		margin-right: 15px;
	}
}

.backdrop {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	z-index: 5;
	transition: opacity 0.3s ease;
}

.active .menu-list{
	background: #fff;
	color: #5e5e5e;

}
.open{
	background: #fff;
	color: #5e5e5e;
}
.active{
	&_search{
		background: #f2f3f4;
	}
}

.on{	
	opacity: 1;
	left: 0;
}

.show-tablet{
	display: none;
	@include breakpoint(tablet){
		display: block;
	}
}
.show-tablet-inline{
	display: none;
	@include breakpoint(tablet){
		display: inline-block;
	}
}

.show-laptop{
	display: none;
	@include breakpoint(laptop){
		display: block;
	}
}
.hide-{
	&tablet{
		@include breakpoint(tablet){
			display: none;
		}
	}
	&laptop{
		@include breakpoint(laptop){
			display: none;
		}
	}
}
.promo{
	margin: 0 -10px;
	position: relative;
	&__text{
		position: absolute;
		top: 60%;
		left: 5%;
		:first-child{
			font-size: 20px;
			color: #fff;
			padding:10px 15px;
			border-radius: 3px;
		}
		span{
			font-family: 'gothamproblack';
			display:block;
		}
	}
	@include breakpoint(tablet){
		margin: 0;
	}
}

.add-margin{
	padding: 0;
	margin-bottom:40px;
	@include breakpoint(tablet){
		margin-left: 267px;
	}
}

.test{
	@include breakpoint(tablet){
			height: 540px;
		}
}