@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em)  { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
}

*{
	font-family: 'robotoregular', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

input {
    -webkit-appearance: none;
}

img{
	max-width: 100%;
}
.relative{
	position: relative;
}
.no-scroll {
	//height: 100%;
	overflow: hidden;
	//width: 100%;
	//position: absolute;
}
.scroll{
	&_margin-top{
		margin-top: 75px !important;
	}
	&_padding-top{
		padding-top: 56px;
	}
}
h1{
	color: #3b3b3b;
	font-family: 'gothamproblack', sans-serif;
	font-size: 36px;
	margin-bottom: 30px;
	margin-top: 20px;
}
h2{
	color: #3b3b3b;
	font-family: 'gothamproblack';
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 20px;
}
h3{
	color: #3b3b3b;
	font-family: 'gothamproblack';
	font-size: 24px;
}
h4{
	color: #3b3b3b;
	font-family: 'gothamproblack';
	font-size: 18px;
	margin-bottom: 25px;
}
p.text{
	margin-bottom: 25px;
	font-size: 13px;
	color: #5a5a5a;
}
ul.text{
	list-style: none;
	padding-left: 20px;
	font-size: 13px;
	color: #5a5a5a;
	margin: 30px 40px 50px 0;
	display: inline-block;
	
	
	li{
		padding-left: 20px;
		position: relative;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			background-color:#f2762e;
			display: inline-block; 
			width: 8px;
			height: 8px;
			margin-left: -20px;
			border-radius: 8px;
			left: 0;
			top: 5px;
		}
	}
	
}
.image-left{
	text-align: center;
	margin:  25px 0 25px 0;
	@include breakpoint(phablet){
		float: left;
		margin:  25px 25px 25px 0;
		max-width: 330px;
		max-height: 270px;
	}
}
.align-right{
	text-align: right;
	&_mobileonly{
		@include breakpoint(mobileonly){
			text-align: right;
		}
	}
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.product{
	position:relative;
	border: 1px solid #d4d8db;
	// margin-right: -1px;
	// margin-top: -1px;
	// border-top: 1px solid #d4d8db;
	// border-bottom: 1px solid #d4d8db;
	.lSSlideOuter &{
		margin-right: 0;
		border-right: 0;
	}
	padding: 20px 5px 20px 20px;
	@include breakpoint(tablet){
		margin-right: -1px;
		margin-top: -1px;
	}
	.peculiar-properties.show-tablet{
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 15px;
		border: none;
		table{
			color: #5a5a5a;
			display: inline-block;
			font-size: 11px;
			height: 72px;
			overflow: hidden;
		}
	}
	@include breakpoint(tablet){
		text-align: left;
		border: 1px solid #d4d8db;
		padding: 20px;
		margin-right: -1px;
		margin-top: -1px;
	}
	a{
		text-decoration: none;
		color: black;
	}
	&__stripe{
		position: absolute;
		top: 0;
		left: 0;
	}
	&__add-filter{
		position: absolute;
		display: inline-block;

		right:50px;
		top: 10px;
	}
	&__add-favorite{
		position: absolute;
		display: inline-block;

		right:10px;
		top: 10px;
	}
	&__img{
		text-align: center;
		margin: 20px 0;
		height: 120px;
		
		&:before{
			vertical-align: middle;
			content: '';
			display: inline-block;
			height: 100%;
		}
		a{
			display: inline-block;
			vertical-align: middle;
			
		}
	}
	&__name{
		font-size: 16px;
		font-family: 'robotoblack';
		font-weight: bold;
		text-decoration: none;
		margin-bottom: 20px;
		height: 83px;
		overflow: hidden;
		@include breakpoint(tablet){
			font-size: 16px;
		}
		&:hover{
			color: #f2762e;
		}
		a{
			font-weight: bold;
		}
	}
	&__text{
		font-size: 11px;
		font-family: 'Arial', sans-serif;
		color: #5a5a5a;
		line-height:1.7;
		display: none;
		height: 72px;
		overflow: hidden;
		@include breakpoint(tablet){
			display: block;
			margin-bottom: 15px;
		}

		
		
	}
	&__price{
		font-size: 18px;
		font-family: 'gothamproblack', sans-serif;
		margin: 15px 0;
		color: #f2762e;
		span{
			font-family:'rouble';
		}
		@include breakpoint(tablet){
			margin: 0;
			display: inline-block;
		}
		
	}
	&__add-to-card{
		font-size: 14px;
		color: white;
		margin-bottom: 15px;
		padding: 5px 10px;
		font-family: 'robotoblack';
		background-color: #f2762e;
		display: inline-block;
		border-radius: 5px;
		@include breakpoint(tablet){
			float: right;
			position: relative;
			top: -6px;
		}
		
		a{
			color: white;
			font-family: 'robotoblack';
		
		}
	}
	
}
#product-slider-2,#product-slider-1{
	ul{
		margin-right: -2px;
	}
	li{
		border-top: 1px solid #d4d8db;
	}
	// border-top: 1px solid #d4d8db;
	li:last-child{
		border-right: 2px solid #d4d8db;
		.product{
			margin-top: -2px;
		}
	}
}
.slider-arrows{
	position: relative;
	//z-index: 10;
	display: none;
	@include breakpoint(tablet){
		display: block;
	}
	
	&-2{
		position: relative;
		display: none;
		@include breakpoint(tablet){
			display: block;

		}
		
	}
}
.slider_controls{
		position: absolute;
		right: 0px;
		top: -60px;
	}
.lslide{
	margin-right: 0px;
}
#popular{
	.lSSlideOuter{
		@include breakpoint(tablet){
			display:none;
		}
	}
}
@include breakpoint(mobileonly){
	.product_off-bottom-border{
		border-bottom: none;
	}
	.product_right-border{
		border-right: 1px solid #d4d8db;
	}
}
@include breakpoint(phablet){
	.product_off-bottom-border{
		border-bottom: none;
		
	}
	.product_right-border{
		border-right: 1px solid #d4d8db;
	}
}

.section{
	margin-bottom: 40px;
	&__title{
		font-family: 'gothamproblack', sans-serif;
		font-size: 30px;
		color: #3b3b3b;
		margin: 25px 0;
		text-align: center;
		@include breakpoint(tablet){
			text-align: left;
			margin: 20px 0 25px 0;
		}
		&_catalog{
			font-size: 24px;
			@include breakpoint(tablet){
				font-size: 48px;
			}
		}
	}
	p{
		color:#5a5a5a;
		font-family: 'arial';
		font-size: 12px;
		margin-bottom: 20px;
		padding: 5px;
	}
}

a{
	text-decoration: none;
}
button, input {
	margin: 0;
	padding: 0;
}
.header-top{
	position:relative;
	background: #fff;
	padding: 8px 0;
	font-size: 14px;
	border-bottom: 1px solid #d4d8db;
}
.header-bottom{
	background: #f2f3f4;
	padding: 20px 0;
}
.header-bottom-content{
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;

	@include breakpoint(tablet){
		text-align: center;
	}
	a{
		color: #fff;
	}
}
.logo{
	width: 25%;
	flex-grow: 1;
	// margin-right:20px;
	vertical-align: middle;
	text-align: center;
	@media(min-width: 1230px){
		display: inline-block;
		margin-left: -103px;
		margin-right: 20px;
	}
}
.location{
	font-size: 12px;
	display: inline-block;
	position: relative;
	@include breakpoint(tablet){
		top: -7px;
	}
	a{
		color: #f2762e;
		text-decoration: none;
		border-bottom: 1px dashed #f2762e;
	}
	img{
		display: none;
		@include breakpoint(tablet){
			position: absolute;
			left:2;
			display: inline-block;
			margin-right: 5px;
		}
	}
	@include breakpoint(tablet){
		margin-right: 50px;
		padding-left: 20px;
	}
	@include breakpoint(laptop){
		margin-right: 190px;
	}
}
.btn{
	display: inline-block;
	background: #f2762e;
	text-align: center;
	font-family: 'robotoblack';
	&_callback{
		border-radius: 30px;
		text-transform: uppercase;
		font-size: 11px;
		margin-right:45px;
		padding:12px 16px;
	}
	&_submit-order{
		text-align: left;
		display: block;
		font-size: 16px;
		margin: 20px auto;
		padding: 10px 10px 10px 30px;
		border-radius:5px;
		color: #fff;
		width: 290px;
		span{
			float:right;
		}
		@include breakpoint(phablet){
			display: block;
		}
		@include breakpoint(tablet){
			float: right;
			width: 218px;
			padding: 10px;
		}
	}
	&_filter{
		border-radius:5px;
		padding: 10px;
		color: #fff;
		font-size: 14px;
		width: 100%;
		&_tablet{
			padding: 7px 10px;
			width: 15%;
			float: right;
		}
	}
	&_show-filter{
		border: 1px solid #f2762e;
		color: #f2762e;
		border-radius: 5px;
		padding: 10px;
		background: #fff;
		width: 100%;
		margin: 20px auto;
	}
	&_margin-bottom{
		margin-bottom:10px;
	}
	&_promo-slider{
		font-size: 12px;
		padding: 10px 15px;
		@include breakpoint(tablet){
			font-size: 20px
		}
	}
	&_continue-shopping{
		font-size: 18px;
		border-radius:5px;
		color: #fff;
			padding: 10px 20px;
		@include breakpoint(tablet){
			padding: 20px 60px;
			font-size: 24px;
		}
		
	}
	&_go-to-cart{
		padding: 10px 30px;
		color: #fff;
		border-radius:5px;
		font-size: 16px;
		margin-top: 15px;
	}
}


.contact-info{
	flex-grow: 1;
	text-align: right;
	display: inline-block;
	margin-right:20px;
	vertical-align: top;
	span.time{
		font-size: 12px;
	}
	@media(min-width: 1230px){
		display: inline-block;
		margin-left: -186px;
	}
}

.telephone{
	// width: 187px;
	a{
		color: #000;
		span:nth-child(2){
			font-family: 'robotoblack';
		}
	}
	@include breakpoint(tablet){
		float: none;
		display: block;
		font-size: 18px;
	}
	@include breakpoint(laptop){
		float: none;
		display: block;
		font-size: 24px;
	}
	&_top-line{
		position: absolute;
		top: -5px;
		right: 10px;
		vertical-align: top;
		font-size: 18px;
	}
}

.social-hrefs{
	display: none;
	a{
		margin: 0 7px;
	}
	@include breakpoint(tablet){
		display: inline-block;
	}
	span{
		position: relative;
		top: -7px;
	}
}

.search{
	display:none;
	@include breakpoint(tablet){
		flex-grow:2;
		display: inline-block;
		vertical-align:middle;
		// width: 37%;
	}
	form{
		position: relative;
		input{
			-webkit-appearance: textfield;
			outline: none;
			padding: 10px;
			padding-right: 50px;
			border-radius: 3px;
			border: 1px solid #c8c8c8;
			outline: none;
			width: 100%;
		}
		button{
			outline: none;
			height: 100%;
			padding: 0 12px;
			background: #f2762e;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 0 3px 3px 0;
		}
	}
}

.enter{
	display: none;
	font-size:14px;
	@include breakpoint(tablet){
		display: inline-block;
		float: right;
		position: relative;
		top: 0px;
	}
	a{
		color: #292929;
	}
	span{
		margin-right:15px;
	}
	:last-child{
		float: none;
	}
	img{
		position:relative;
		top:4px;
		margin-right: 10px;
	}
}
.main-menu{
	padding: 0;
	background: #424242;
	position: relative;
	z-index: 10;
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	ul{
		list-style: none;
		display: flex;
		flex-wrap: no-wrap;
		align-items: center;
		flex-shrink: 0;
		align-content: center;
		justify-content: space-between;
	}
	&__item{
		// align-self:stretch;
		flex-grow: 1;
		padding: 9px 5px;
		display: inline-block;
		color:#fff;
		text-align:center;
		& a{
			color: #fff;
			span{
				font-family: 'robotoblack';
			}
		}
		.shopping-sum{
			position: relative;
			top: -5px;
			margin-left: 5px;
			color:#f2762e;
			font-size: 18px;
			font-family: 'gothamproblack';
			@include breakpoint(tablet){
				// display: inline-block;
			}
			span{
				position: relative;
				top: 4px;
				font-family: 'gothamproblack';
			}
			span:nth-child(2){
				font-family: 'rouble';
			}
		}
		.photogallery{
			background: #f2762e;
			padding: 1px 5px;
			border-radius: 3px;
		}
	}
}
.catalog-list{
	color: #fff;
	position:relative;
	font-family: 'robotoblack';
	margin-left: -10px;
	@include breakpoint(tablet){
			margin: 0;
		}
	ul{
		display: none;
		position: absolute;
		height: auto;
		top: 100%;
		z-index: 10;
		left: 0px;
		width: 100vw;
		font-size: 14px;
		background: #fff;
		color: #5e5e5e;
		list-style: none;
		padding: 10px;
		@include breakpoint(tablet){
			width: 262px;
			left: 0px;
			box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.38);
		}
		@media(min-width: 1150px){
			// display: block;
			width: 100%;
			// height: 450px;
		}
	}
	li{

		padding: 7px 0;
		display: block;
		font-size : 14px;
		text-align: left;
		width: 100%;
		border: none;

		span{
			font-family: 'robotoregular';
		}
		&:hover{
			color: #f2762e;
		}
		:last-child{
			float: right;
		}
		i{
			position: relative;
			top: 3px;
		}
	}
	li:last-child{
		margin-top: 15px;
		padding: 20px 0;
		border-top: 1px solid #dbddde;
		a{
			color: #292929;
			margin: 0 5px;
		}
		@include breakpoint(tablet){
			display: none;
		}
		:last-child{
			float: none;
		}
	}
	@include breakpoint(tablet){
		width: 17.8%;
		background:#f2762e;
	}
	span{
		font-family: 'robotoblack';
	}
	span.hide-laptop{
		line-height: 38px;
		display: inline-block;
		vertical-align: top;
		@include breakpoint(laptop){
			display: none;
		}
	}
	span.show-laptop{
		line-height: 38px;
		display: none;
		@include breakpoint(laptop){
			display: inline-block;
			vertical-align: top;	
		}
	}
}
.add-border{
	// padding: 15px 0;
	border-left: 1px solid #2b2b2b;
}
.center-icons{
	align-self:stretch;
	img{
		position: relative;
		top: 5px;
	}
}

.underline{
	border-bottom: 1px solid #292929;
}
.dashed{
	border-bottom: 1px dashed #f2762e;
	color: #f2762e;
	background: #fff;
	&_black{
		color: #5e5e5e;
		font-size: 12px;
	}
}

.cart-item-count{
	position: absolute;
	top: -5px;
	right: -10px;
	width: 20px;
	height: 16px;
	display: inline-block;
	font-size: 14px;
	border-radius: 40%;
	text-align: center;
	background: #f68b23;
	color: white;
	line-height: 16px;
}

.shoppingcart{
	display: inline-block;
	position: relative;
}

.bars{
	margin-right: 10px;
	display: inline-block;
	position: relative;
	width: 30px;
}

.bar{
	height:2px;
	background:#fff;
	margin:8px 0;
}

.active .bar:nth-child(2){
	opacity:0;

}

.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(9px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}

.bar{
	transition: all 1s ease;
}

.search-form{
	display:none;
	z-index: 10;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	padding: 10px;
	background: #f2f3f4;
	form{
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 18px;
			width: 100%;
			padding: 15px;
			padding-right: 90px;
		}
		button{
			outline: none;
			position: absolute;
			top: 10px;
			right: 10px;
			background: #f2762e;
			padding: 15px;
			color: #fff;
			font-size: 18px;
		}
	}
}
.news{
	margin-bottom: 30px;
}

.article{
	margin: 5px 0;
	position:relative;
	display:inline-block;
	&:hover{
		img{
			transform: scale(1.1);
			transition: all 0.3s ease;
		}
	}
	img{
		max-width:100%;
	}
	&__info{
		padding:0 20px;
		position: absolute;
		bottom: 20px;
		color: #fff;
		&:hover{
			color: grey;
			img{
				transform: scale(1.1);
			}
		}
		a{
			color: #fff;
		}
	}
	&__title{
		text-align:left;
		font-family: 'robotoblack';
		text-decoration:none;
		display: block;
		font-size:15px;
	}
	&__pub-date{
		font-family: 'arial';
		text-align:left;
		display:block;
		font-size: 11px;
	}
	&__pic{
		overflow: hidden;
		display:inline-block;
		position: relative;
		img {
			opacity: 1;
			display: block;
			transform: scale(1);
			transition: all 1s ease;
		}
	}
}

.popular-section{
	margin: 0 auto;
	display: block;
	max-width: 220px;
	padding: 20px 10px;
	text-align: center;
	border-radius: 5px;
	@media(min-width:800px)and(max-width:1130px){
		min-height: 152px;
	}
	img{
		height: 60px;
		margin-bottom: 10px;
	}
	&_grey{
		background: #f2f3f4;
	}
	&_blue{
		background: #d3e6f8;
	}
	&_pink{
		background: #ffe8da;
	}
	&_cyan{
		background: #d6eef5;
	}
	&_green{
		background: #e5f2dc;
	}
	span{
		display: block;
		color: #000;
		font-family: 'robotoblack';
		font-size: 15px;
	}
}
.dealers{
	text-align: center;
	margin-bottom: 30px;
	@include breakpoint(tablet){
		text-align: left;
		float: left;
		width: 264px;
		
	}
	&-slider{
		position: relative;
		float: left;
		@include breakpoint(tablet){
			padding: 0 50px;
		}
	}
	span{
		font-family: 'gothamproblack';
		font-size: 21px;
		margin-right: 15px;
		margin-bottom: 15px;
	}

}

.backdrop {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	z-index: 4;
	transition: opacity 0.3s ease;
}

.active .menu-list{
	background: #fff;
	color: #5e5e5e;
	@include breakpoint(tablet){
		background: #fff;
	}

}
.open{
	background: #fff;
	@include breakpoint(tablet){
		background: #323232;
	}
	span.menu-list-name{
		color: #5e5e5e;
		@include breakpoint(tablet){
			color: #fff;
		}
	}
	li{
		span:hover{
			color: #f2762e;
		}
	}
	ul{
		display:block;
	}
	
}
.active{
	&_search{
		background: #f2f3f4;
	}
}

.on{
	opacity: 1;
	left: 0;
}



.col-promo{
	margin: 0 -10px;
	margin-bottom: 15px;
	@include breakpoint(tablet){
		margin-bottom: 25px;
	}
	@include breakpoint(laptop){
		margin: 25px 0;
		text-align: center;
	}
	@media(min-width: 1150px){
		float:right;
		margin-left: 274px;
		width: 78%;
	}
}
.promo{
	margin: 0 -10px;
	position: relative;
	
	&__text{
		position: absolute;
		top: 60%;
		left: 8%;
		:first-child{
			font-size: 12px;
			color: #fff;
			padding:10px 15px;
			border-radius: 3px;
			@include breakpoint(phablet){
				font-size: 20px;
			}
		}
		span{
			font-family: 'gothamproblack';
			display:block;
		}
	}
	@include breakpoint(tablet){
		margin: 0;
		
	}
}
#popular-section-slider{
	@include breakpoint(tablet){
		display: none;
	}
}


.icon{
	display: inline-block;
	&_fav{
		background:url(../images/add_to_fav.png);
		width: 34px;
		height: 33px;
	}
	&_filter{
		background:url(../images/filter_little.png);
		width: 33px;
		height: 33px;
	}
	&_fav_active{
			background-position: 37px 0;
		}
	&_controls_prev{
		background:url(../images/partners_slider_controls.png);
		background-position: 0px 38px;
		width: 38px;
		height: 38px;
		position: absolute;
		left: 0;
		top: 0px;
		&:hover{
				background-position: 0px 0px;
			}
	}
		&_controls_next{
		background:url(../images/partners_slider_controls.png);
		position: absolute;
		width: 38px;
		height: 38px;
		background-position: 38px 38px;
		right: -10px;
		top: 0px;
			&:hover{
				background-position: 38px 0px;
			}
	}
	&_product-slider_prev{
		background:url(../images/product_slider_controls.png);
		height: 40px;
		width: 39px;
		background-position: -5px 0;
	}
	&_product-slider_next{
		background:url(../images/product_slider_controls.png);
		height: 40px;
		width: 38px;
		background-position: 43px 0px;
	}
	&_amount-plus{
		background:url(../images/amount_plus.png);
		height: 26px;
		width: 26px;
	}
	&_amount-minus{
		background:url(../images/amount_minus.png);
		height: 26px;
		width: 26px;
	}
}

.footer{
	color: #5e5e5e;
	padding: 35px 0 0 0;
	font-size: 14px;
	background-color: #f2f3f4;
	&-list__title{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		color: black;
		margin-bottom: 25px;
		display: inline-block;
		
	}
	&-list{
		list-style: none;
		&.fixed-colum{
			display: inline-block;
			text-align: left;
		}
		&.footer-list_social-items{
			margin: 30px 0 40px 0;
			text-align: center;
			position: relative;
			
			.footer-list__title {
				margin-bottom: 10px;
				@include breakpoint(tablet){
					margin-bottom: 15px;
				}
			}
			@media (min-width: 480px){
				//margin-top: 40px;
			}
			@include breakpoint(phablet){
				margin-top: -163px;
				margin-bottom: 140px;
				//width: 70vw;
				//top: -14px;
			}
			
			@include breakpoint(tablet){
				margin:0 0 10px 0;
				width: auto;
				text-align: left;
				top: 0;
				
			}
		}
		&__social-item{
			display: inline-block;
			margin-right: 15px;
			&first-child{margin-left: 15px;}
		}
	}
	&-list__item{
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-info__phone{
		margin-bottom: 10px;
		color: #6e6e6e;
		font-size: 14px;
		@include breakpoint(tablet){
			font-size: 18px;
		}
	}
	&-payment{
		display: none;
		@include breakpoint(tablet){
			display: block;
			max-width: 300px;
		}
		&__text{
			font-size: 12px;
			text-transform: none;
			font-weight: normal;
			color: #6e6e6e;
			font-size: 12px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		&__img a{
			display: inline-block;
			margin: 10px;
			&:first-child{
				margin-left:0;
			}
			
		}
		
	}
	&-info{
		font-size: 12px;
		color: #6e6e6e;
		&__text{
			margin-top: 15px;
			&_chat{
				margin-bottom: 20px;;
			}
			
			
		}
		&__adress{
			color: #6e6e6e;
			@include breakpoint(phablet){
				margin-left: 10vw;
			}
			@include breakpoint(laptop){
				margin-left: 0;
			}
			
			
		}
		
	}
	&-rights{
		color: #6e6e6e;
		font-size: 12px;
		text-align: center;
		padding: 15px 0;
		@include breakpoint(tablet){
			text-align: left;
			display: inline-block;
		}
	}
	.footer__design-autor{
		display: none;
		@include breakpoint(tablet){
			display: inline-block;
			float: right;
			font-size: 12px;
			padding: 15px 0;
			
		}
		a{
			text-decoration: underline;
			padding-left: 2px
		}
	}
	
	a{
		text-decoration: none;
		color: #5e5e5e;
		&:hover{
			color: #ed762e;
		}
	}
	hr{
		display: block;
		color: #d4d8db;
		height: 1px;
		border: none;
		background: #d4d8db;
		margin: 25px -10px 0 -10px;
	}

}

//product-card

.breadcrumbs{
	font-size: 14px;
	list-style: none;
	color: #323232;
	margin-top: 25px;
	margin-bottom: 20px;
	display: inline-block;
	font-family: 'gothamproblack';
	li{
		display: inline-block;
		margin-right: 10px;
		position: relative;
		font-family: 'gothamproblack';
		&:not(:last-child):after{
			content: "/";
			display: inline-block;
			position: absolute;
			right: -11px;
			font-size: 18px;
			top: -3px;
		}
	}
	a{
		font-family: 'gothamproblack';
		color: #323232;
	}
}
.peculiar-properties{
	text-align: left;
	border-top: 1px solid #bcbcbc;
	margin-top: 20px;
	padding-top: 15px;
	color: #292929;
	font-weight: bold;
	position: relative;
	max-height: 240px;
	overflow: hidden;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
	&.all{
		max-height: 1000px;
		transition: max-height 0.5s ease-in-out;
	}
	
	&_title{
		font-size: 18px;
		margin-bottom: 20px;
		font-family: "robotoblack";
	}
	&_all{
		font-size: 14px;
		border-bottom: 1px dotted #bcbcbc;
		display: inline-block;
		margin-top: 20px;
		&.show-laptop{
			@include breakpoint(laptop){
				display: inline-block;
			}
			
		}
		a{
			color: #8d8d8d;
			
		}
	}
	font-size: 14px;
	
	td{
		line-height: 1.5;
		vertical-align: bottom;
		&:first-child{
			position: relative;
			overflow: hidden;
			color: #303030;
			span{
				position: relative;
				&:after{
				content: " ";
				position: absolute;
				width: 350px;
				left: 100%;
				height: 2px;
				border-bottom: 1px dotted #bcbcbc;
				bottom: 5px;
				}
			}
		}
		&:last-child{
			min-width: 120px;
			color: #5e5e5e;


		}
	}
	a{
		color: inherit;
	}
	&.show-tablet{
		margin: -1px -15px 15px -35px;
		padding: 15px 15px 0 35px;
	}
	&.hide-tablet{
		margin: 20px -15px 15px -15px;
		padding: 15px 0 0 12px;
		border-top: none;
	}
	@include breakpoint(laptop){
		margin: 10px 0 0 -35px;
		padding: 15px 15px 0 35px;
	}
		
}
#commodity-column{
	@include breakpoint(tablet){
		min-height: 530px;
		padding-right: 0;
	}
	@include breakpoint(laptop){
		
		padding-top: 45px;
		margin-top: -60px;
		
	}
	@media (min-width:1220px){
		width: 510px;
		&_img{
			width: 680px;
		}
	}

}
.commodity{
	text-align: center;
	//position: relative;
	
	@include breakpoint(tablet){
		top: 50px;
	}
	
	&__producer{
		font-size: 14px;
		color: #3b3b3b;
		
		a{
			text-decoration: underline;
			padding-left: 10px;
			color: #3b3b3b;
		}
		span{
			color: #3b3b3b;
		}
		@include breakpoint(tablet){
			margin: 0 0 30px 0;
		}
		@include breakpoint(laptop){
			margin: 0 0 35px 0;
		}
	}
	&__name{
		font-size: 24px;
		font-family: 'gothamproblack', sans-serif;
		margin: 25px 0 20px 0;
		color: #3b3b3b;
		@include breakpoint(laptop){
			margin: 15px 0 10px 0;
			font-size: 36px;
		}
	}
	&__favorite{
		display: inline-block;
		width: 34px;
		height: 33px;
		background-image: url(../images/add_to_fav.png);
		margin: 10px 10px 30px 0;
		background-position: 0 0px;
		@include breakpoint(tablet){
			margin-top:-20px;
			margin-bottom: 0;
			&.hide-tablet{
				display: none;
			}
		}
		&.active{
			background-position: 37px 0;
		}
	}
	&__filter{
		display: inline-block;
		width: 33px;
		height: 33px;
		background-image: url(../images/filter_little.png);
		margin: 10px 10px 30px 0;
		background-position: 0 0;
		@include breakpoint(tablet){
			margin-top: -40px;
			margin-bottom: 0;
			&.hide-tablet{
				display: none;
			}
		}
		
	}
	&__article{
		font-size: 11px;
		float: right;
		margin-top: -20px;
		color: #5a5a5a;
		margin-right: 10px;
		
	}
	&__img{
		margin-bottom: 30px;
		position: relative;
		margin-top: -30px;
		ma-width: 670px;
		max-height: 460px;
		img{vertical-align: middle;}
		@include breakpoint(tablet){
			margin-top:40px;
			
		}
		&_stripe{
			position: absolute;
			top: 0;
			left: 0;
			width: 92px;
			height: 80px;
			background-image: url(../images/sale.png);
		}
		
		
	}
	&__thumbnails{
		
		@include breakpoint(mobileonly){
			margin-bottom: 20px;
		}
		@include breakpoint(tablet){
			position: absolute;
			width: 50%;
			bottom: 0;
		}
	}
	&__thumbnail{
		display: inline-block;
		width: 100px;
		margin-right: 10px;
		height: 100px;
		img{
			vertical-align: middle;
		}
		@include breakpoint(mobileonly){
			width: 75px;
			height: 50px;
			
		}
		
	}
	&__price{
		display: block;
		font-size: 30px;
		color: #f2762e;
		font-family: 'gothamproblack', sans-serif;
		position: relative;
		
		
		span{font-family: 'gothamproblack', sans-serif;}
		span.rouble{
			font-family: 'rouble', sans-serif;
		}
		@include breakpoint(tablet){
			display: block;
			top: 5px;
			margin-bottom: 10px;
			
		}
		@include breakpoint(laptop){
			//margin-right: 35px;
			top: 10px;
			min-width: 146px;
		}
		@media (min-width: 1195px){
			display: inline-block;
			top: 10px;
		}
		
		
		
		&_before{
			font-family: 'gothamproblack', sans-serif;
			display: inline-block;
			text-decoration: line-through;
			color: #a6a6a6;
			font-size: 18px;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: -5px;
			left: 2px;

			@include breakpoint(tablet){
				display: inline-block;
				top: -12px;
				
				position: absolute;
			}
			
		}
		&_after{
			display: inline-block;
		}
		
		&.hide-tablet{
			@include breakpoint(tablet){
				display: none;
			}
		}
		
	}
	&__add-to-card{
		position: relative;
		display: inline-block;
		color: white;
		padding: 10px 18px 10px 50px;
		background-color: #f2762e;
		border-radius: 5px;
		font-size: 16px;
		margin: 10px 10px;
		cursor: pointer;
		font-family: "robotoblack";
		@include breakpoint(mobileonly){
			margin-left: 0;
			padding-right: 8px;
			padding-left: 40px;
			margin-right: 8px;
			margin-bottom: 0;
		}
		@include breakpoint(tablet){
			margin-left: 0;
			margin-top: 0;
		}
		
		&:before{
			content: "";
			display: inline-block;
			width: 25px;
			height: 18px;
			background-image: url(../images/cart_little.png);
			position: absolute;
			background-position: -1px 0;
			left: 10px;
		}
		&.hide-tablet{
			
			@include breakpoint(tablet){
				display: none;
			}
		}
		&.show-tablet{
			display: inline-block;
			
		}
	}
		
	&__buy-to-click{
		display: inline-block;
		color: #424242;
		padding: 10px 13px 10px 10px;
		border: 1px solid #bcbcbc;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		font-family: "robotoblack";
		@include breakpoint(mobileonly){
			
			padding-right: 7px;
			padding-left: 7px;
		}
		&.hide-tablet{
			
			@include breakpoint(tablet){
				display: none;
			}
		}
		&.show-tablet{
			display: inline-block;
		}
	}
	
	&__instruction{
		padding: 13px 0 23px 40px;
		text-align: left;
		font-size: 14px;
		border-top: 1px solid #bcbcbc;
		margin-top: 30px;
		margin: 30px -15px 0 -15px;
		position: relative;
		&:before{
			content: "26 mb";
			font-size: 12px;
			color: #a6a6a6;
			position: absolute;
			top: 55%;
		}
		&:after{
			content: "";
			font-size: 12px;
			color: #a6a6a6;
			position: absolute;
			top: 25%;
			left: 5px;
			display: inline-block;
			background-image: url(../images/instruction.png);
			width: 22px;
			height: 28px;
			@include breakpoint(tablet){
				left: 25px;
			}
			@include breakpoint(laptop){
				left: 5px;
				top: 35%;
			}
		}
		a{color: inherit;}
		@include breakpoint(tablet){
			padding: 15px 0 25px 60px;
			margin: 30px 0 0 0;
		}
		@include breakpoint(laptop){
			border-bottom: none;
			border-top: none;
			display: inline-block;
			margin-top: 0;
			margin-left: 25px;
			padding: 25px 0 35px 40px;
			&.hide-tablet{
				display: none;
			}
		}
		
	}
	.content{
		margin-bottom: -5px;
		border-top: 1px solid #bcbcbc;
		margin-top: 30px;
		margin-left: -35px;
		position: absolute;
		
		//padding-left: 35px;
		@include breakpoint(tablet){
			//margin-left: -55px;
			border-top: none;
			margin-top: 15px;
			bottom: 0;
			width: 100%;
		}
		@include breakpoint(laptop){
			min-height: 75px;
			margin-left: -35px;
			border-top: 1px solid #bcbcbc;
			position: static;
			width: auto;
		}
	}
	&__spare-parts{
		padding: 13px 15px 20px 40px;
		text-align: left;
		font-size: 18px;
		color: #f2762e;
		font-family:  "gothamproblack", sans-serif;
		border-bottom: 1px solid #bcbcbc;
		border-top: 1px solid #bcbcbc;
		margin: 0 -15px 0 -15px;
		position: relative;
		text-decoration: underline;
		text-decoration-color: #fcddcb;
		&:after{
			content: "";
			position: absolute;
			
			left: 7px;
			display: inline-block;
			background-image: url(../images/mechanism.png);
			width: 25px;
			height: 25px;
			@include breakpoint(phablet){
				top: 25%;
			}
			@include breakpoint(tablet){
				top: 15px;
				left: 30px;
				
				
			}
			@include breakpoint(laptop){
				left: 10px;
				top: 30px;
				
			}
		}
		a{
			color: inherit;
			font-family:  "gothamproblack", sans-serif;
		}
		@include breakpoint(tablet){
			padding: 15px 0 25px 60px;
			margin: 0;
			border-bottom: none;
		}
		@include breakpoint(laptop){
			float: right;
			width: 40%;
			border-left: 1px solid #bcbcbc;
			border-bottom: none;
			border-top: none;
			margin: 0;
			padding-right: 0;
			padding: 30px 0 30px 40px;
			position: relative;
			
		}
	}
	&__describe{
		margin: 25px 0 40px 0;
		text-align: left;
		font-family:  "gothamproblack", sans-serif;
		font-size: 18px;
		@include breakpoint(tablet){
			margin-bottom: 55px;
		}
		a{color: inherit;}
		&_text{
			font-size: 14px;
			color: #a6a6a6;
			margin-top: 20px;
			
		}
	}
	&.show-tablet{
		text-align: left;
		margin-left: 20px;
		position: static;
		
	}
	hr{
		display: block;
		height: 1px;
		border: none;
		background-color: #bcbcbc;
		margin: 25px -10px 0 -10px;
	}
	
}
.wrapper_product-card{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	
	
	@include breakpoint(tablet){
		padding: 0 15px;
	}
	@include breakpoint(laptop){
		border-bottom: 1px solid #bcbcbc;
	}
	@media (min-width:1200px){
		max-width: 1180px;
		padding: 0;
	}


}
.border-left-tablet {
	position: relative;
	border-left: 1px solid #bcbcbc;
//	&:before{
//		content: "";
//		width: 1px;
//		height: 45px;
//		display: inline-block;
//		position: absolute;
//		background-color: #bcbcbc;
//		top: -45px;
//		left: -1px;
//	}
}

// end product-card

// cart.pug styles

.cart-item{
	margin-top: -1px;
	position: relative;
	padding: 10px 0;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	&__remove{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	&__description{
		padding: 10px 0;
		padding-bottom: 20px;
		margin-bottom:10px;
		padding-left: 83px;
		border-bottom: 1px dashed #e1e1e1;
	}
	&__image{
		position: absolute;
		top: 20px;
		left: 0;
	}
	&__name{
		font-family: 'robotoblack',sans-serif;
		font-size: 16px;
	}
	&__number{
		font-family: 'arial';
		font-size: 11px;
		margin-bottom: 10px;
	}
	&__field-name{
		color: #919292;
		font-size: 14px;
		margin: 5px 0;
	}
	&__price{
		color: #f2762e;
		font-size: 18px;
		font-family: 'gothamproblack',sans-serif;
		span{
			font-family: 'rouble';
		}
	}
	&__sum{
		color: #f2762e;
		font-size: 18px;
		font-family: 'gothamproblack',sans-serif;
		span{
			font-family: 'rouble';
		}
	}
	&__amount{
		font-size: 18px;
		font-family: 'gothamproblack',sans-serif;
	}
}

.amount{
		user-select: none;
		position: relative;
		margin-right: 3px;
		top: -6px;
		width: 25px;
		text-align:center;
		font-size: 18px;
		font-family: 'gothamproblack',sans-serif;
}

.order-sum{
	margin: 10px auto;
	margin-top: 40px;
	text-align: center;
	font-size: 21px;
	font-family: 'gothamproblack';
	&__text{
		span:nth-child(1){
			font-family: 'gothamproblack',sans-serif;
		}
		span:nth-child(2){
			font-size:21px;
			color: #f2762e;
			font-family: 'gothamproblack',sans-serif;
		}
		span:nth-child(3){
			font-size:21px;
			color: #f2762e;
			font-family: 'rouble',sans-serif;
		}
		span.filter{
			font-family: 'robotoblack';
			display:block;
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	@include breakpoint(tablet){
		margin-top: 20px;
		float:right;
	}
	&_filter{
		text-align: left;
		float:none;
		margin:0;
	} 
}
.coupon{
	p{
		margin-bottom: 10px;
		font-size: 11px;
		color: #5a5a5a; 
	}
	form{
		position:relative;
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 14px;
			height: 40px;
			width: 100%;
			padding: 10px;
			padding-right: 90px;
			border: 1px solid #bcbcbc;
			border-radius: 5px;
		}
		button{
			outline: none;
			position: absolute;
			height: 38px;
			top: 1px;
			right: 1px;
			border-radius: 5px;
			border-left: 1px solid #bcbcbc;
			background: #f2f3f4;
			padding: 10px;
			color: #5a5a5a;
			font-size: 14px;
		}
	}
	@include breakpoint(tablet){
		margin-top:20px;
		width: 50%;
		margin-bottom: 90px;
	}
}
table#order{
	width: 100%;
	border-spacing: 0;
	th{
		text-align: left;
		background: #f2f3f4;
		border-bottom: 1px solid #e1e1e1;
		padding: 10px;
		color: #929292;
		font-size: 14px;
	}
	td{
		padding: 20px 10px;
		text-align: left;
		border-bottom: 1px solid #e1e1e1;
	}
	.fix-width{
		width: 15%;
	}
	.remove-item{
		width: 5%;
	}
}


//galery.pug styles
.gallery{
	margin-top: 70px;
	margin-bottom: 30px;
}
.galery-brand{
	margin-bottom: 50px;
	text-align:center;
	&__pic{
		vertical-align: top;
		height: 50px;
		margin-bottom: 20px;
	}
	&__name{
		font-size: 12px;
		color: #292929;
		height: 30px;
	}
}

//news

.paginator{
	margin: 30px auto;
	@include breakpoint(tablet){
		margin-bottom: 55px;
	}
	&_gallery{
		margin-top:0;
	}
	ul{
		text-align: center;
		display: black;
		margin-top: 15px;
		list-style: none;
		li{
			vertical-align: middle;
			color: #181818;
			display: inline-block;
			margin: 0px 5px;
			line-height: 40px;
			border: 1px solid #d3d3d3;
			border-radius: 100%;
			width: 40px;
			height: 40px;
		}
		li.active{
			background: #f2762e;
			color: #fff;
			border: 1px solid #f2762e;
		}
		li.prev, li.next{
			padding-top: 10px;
			background: #f0f0f0;
		}
	}
}



//start order page

.order-form{
	margin: 0 0 35px 0;
	padding: 60px 0 0 0px;
	background-color: #f2f3f4;
	position: relative;
	&-tab{
		background-color: #f2f3f4;
		font-size: 14px;
		font-family: 'gothamproblack',sans-serif;
		display: inline-block;
		padding: 20px 60px 25px 60px;
		margin-left:-10px;
	}
	&__title{
		font-family: 'gothamproblack',sans-serif;
		font-size: 36px;
		margin-bottom: 35px;
		margin-top: 25px;
	}
	&__submit{
		position: relative;
		display: inline-block;
		
		&:before{
			content: "\279C";
			position: absolute;
			right: 12px;
			top: 40px;
			color: white;
		}
		input{
			outline: none;
		}
	}
	
	.form-contact{
		background-color: #f2f3f4;
		margin: 0 25px 30px 25px;
		width: 774px;
		border-bottom: 2px solid white;
		display: inline-block;
		float: left;
		position: relative;
		&:before{
			position: absolute;
			content:'';
			display: block;
			height: 2px;
			width: 25px;
			left: -25px;
			background: #fff;
			bottom: -2px;
		}
		input{
			padding: 0 15px;
			display: inline-block;
			height: 35px;
			min-width: 242px;
			margin: 0 20px 45px 0;
			outline: none;
			@include breakpoint(mobileonly){
				margin-right: 0;
			}
			&.contact-zip-code{
				margin-bottom: 35px;
			}
				
		}
		
		@include breakpoint(mobileonly){
			width: 80%;
			margin-right: 0;
			padding-right: 0;
		}
		@include breakpoint(phablet){
			max-width: 420px;
		}
		@media (min-width: 800px){
			max-width: 320px;
		}
		@media (min-width: 960px){
			max-width: 520px;
		}
		@media (min-width: 1210px){
			max-width: 785px;
		}
		
			
		.wrap-input{
			display: inline-block;
			position: relative;
			input{
				border-radius: 5px;
				box-shadow: 3px 3px 7px 0px rgba(182,183,184,0.35);
				outline: none;
			}
			.label{
				position: absolute;
				top: -30px;
				left: 0;
				font-size: 14px;
				color: #424242;
				span:last-child{
					color: red;
				}
			}
		}
		.wrap-select{
			display: block;
			max-width: 515px;
			position: relative;
			@include breakpoint(mobileonly){
				width: 242px;
				margin-right: 0;
			}
			.label{
				position: absolute;
				top: -30px;
				left: 0;
				font-size: 14px;
				color: #424242;
				span:last-child{
					color: red;
				}
			}
		}
		
		.contact-{
			&location{
				display: block;
				height: 35px;
				width: 100%;
				margin-bottom: 55px;
			}
			&zip-code{
				min-width:80px;
				margin-right: 80px;
				
			}
			&phone{
				margin-right: 0;
			}
		}
		
		
	}
	
	.form-pay{
		margin: 0 25px 30px 25px;
		width: 774px;
		border-bottom: 2px solid white;
		display: inline-block;
		padding-bottom: 40px;
		float: left;
		position: relative;
		&:before{
			position: absolute;
			content:'';
			display: block;
			height: 2px;
			width: 25px;
			left: -25px;
			background: #fff;
			bottom: -2px;
		}
		@include breakpoint(mobileonly){
			width: 80%;
			margin-right: 0;
			padding-right: 0;
		}
		@include breakpoint(phablet){
			max-width: 420px;
		}
		@media (min-width: 800px){
			max-width: 320px;
		}
		@media (min-width: 960px){
			max-width: 520px;
		}
		@media (min-width: 1210px){
			max-width: 785px;
		}
		&__title{
			font-size: 14px;
			font-family: 'gothamproblack',sans-serif;
			margin-bottom: 30px;
		}
		label{
			font-size: 14px;
			color: #424242;
			padding-left: 10px;
			display: inline-block;
			margin-bottom: 18px;
			@include breakpoint(mobileonly){
				width: 100%;
			}
			
		}
		input[type="radio"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 7px;
		}
		input[type="radio"] + label {
			position: relative;
			padding: 0 0 0 35px;
			cursor: pointer;
		}
		input[type="radio"] + label:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			border: 1px solid #c9c9c9;
			border-radius: 50%;
			background: #FFF;
		}
		
		input[type="radio"]:checked + label:after {
			opacity: 1;
		}
		input[type="radio"]:focus + label:before {
			border: 3px solid #f2762e;
			width: 12px;
			height: 12px;
		}
		#pay-shope+label{
			margin-bottom: 0;
			.span-wrap{
				font-size: 12px;
				color: #919292;
				position: relative;
				//bottom: -15px;
				//left: 35px;
				width: 580px;
				@include breakpoint(mobileonly){
					width: 100%;
				}
				@include breakpoint(phablet){
					width: 100%;
				}
				
				
			}
		}

	}
	
	.form-delivery{
		margin: 0 25px 30px 25px;
		width: 774px;
		border-bottom: 2px solid white;
		display: inline-block;
		padding-bottom: 40px;
		float: left;
		position: relative;
		&:before{
			position: absolute;
			content:'';
			display: block;
			height: 2px;
			width: 25px;
			left: -25px;
			background: #fff;
			bottom: -2px;
		}
		@include breakpoint(mobileonly){
			width: 80%;
			margin-right: 0;
			padding-right: 0;
		}
		@include breakpoint(phablet){
			max-width: 420px;
		}
		@media (min-width: 800px){
			max-width: 320px;
		}
		@media (min-width: 960px){
			max-width: 520px;
		}
		@media (min-width: 1210px){
			max-width: 785px;
		}
		&__title{
			font-size: 14px;
			font-family: 'gothamproblack',sans-serif;
			margin-bottom: 30px;
		}
		label{
			font-size: 14px;
			color: #424242;
			padding-left: 10px;
			display: inline-block;
			margin-bottom: 18px;
			@include breakpoint(mobileonly){
				width: 100%;
			}
		}
		input[type="radio"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
			margin: 10px 0 0 7px;
		}
		input[type="radio"] + label {
			position: relative;
			padding: 0 0 0 35px;
			cursor: pointer;
		}
		input[type="radio"] + label:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			border: 1px solid #c9c9c9;
			border-radius: 50%;
			background: #FFF;
		}
		
		input[type="radio"]:checked + label:after {
			opacity: 1;
		}
		input[type="radio"]:focus + label:before {
			border: 3px solid #f2762e;
			width: 12px;
			height: 12px;
		}
		#delivery-courier+label{
			margin-bottom: 0;
			.span-wrap{
				font-size: 12px;
				color: #919292;
				position: relative;
				//bottom: -30px;
				//left: 35px;
				width: 580px;
				@include breakpoint(mobileonly){
					width: 100%;
				}
				@include breakpoint(phablet){
					width: 100%;
				}
				span{
					display: block;
					
				}
				
			}
		}

	}
	
	.form-comment{
		margin: 0 25px 0 25px;
		width: 774px;
		display: inline-block;
		padding-bottom: 50px;
		@include breakpoint(mobileonly){
			width: 80%;
			margin-right: 0;
			padding-right: 0;
		}
		@include breakpoint(phablet){
			max-width: 420px;
		}
		@media (min-width: 800px){
			max-width: 320px;
		}
		@media (min-width: 960px){
			max-width: 520px;
		}
		@media (min-width: 1210px){
			max-width: 785px;
		}
		
		
		&__title{
			font-size: 14px;
			font-family: 'gothamproblack',sans-serif;
			margin-bottom: 30px;
		}
		span{
			display: block;
			margin-bottom: 15px;
			font-size: 14px;
			color: #424242;
		}
		.textarea{
			width: 100%;
			height: 85px;
			resize: none;
			padding: 15px;
			display: inline-block;
			outline: none;
			border-radius: 5px;
			box-shadow: 3px 3px 7px 0px rgba(182,183,184,0.35);
			@include breakpoint(tablet){
				width: 500px;
			}
		}
		.btn_submit-order{
			float: left;
			margin: 30px 0 0 0;
			width: 230px;
			padding-left: 20px;
			@include breakpoint(mobileonly){
				width: 180px;
			}
			
		}
	}
		
}

.your-order{
	position: absolute;
	width: 320px;
	top: 238px;
	right: 40px;
	background-color: white;
	padding: 0 20px;
	min-height: 720px;
	.order__title{
		font-size: 18px;
		font-family:'gothamproblack',sans-serif;
		text-align: center;
		padding: 20px 0 15px 0;
	}
	.cart-item{
		padding-top: 15px;
		&__description{
			padding: 0 0 0 83px;
			border: none;
		}
		&__image{
			top: 50px;
		}
		&__name{
			font-size: 14px;
			margin-bottom: 20px;
		}
		&__amount{
			display: inline-block;
			font-family:'gothamproblack',sans-serif;
			font-size: 14px;
			color: #464646;
			margin-right: 10px;
		}
		&__price{
			display: inline-block;
		}
	}
	
}
// end order page


//catalog.pug

.filter-main{
	background: #f2f3f4;
	padding: 25px;
	@include breakpoint(tablet){
		margin-right:-1px;
		// display: flex;
		// flex-wrap: no-wrap;
		// justify-content: space-between;
	}
	.filter-main__input{
		position: relative;
		margin-bottom: 15px;
		label{
			position: absolute;
			color: #5e5e5e;
			right: 15px;
			top: 12px;
			color: #292929
		}
		@include breakpoint(tablet){
			display: inline-block;
			width: 25%;
			margin-right:15px;
			margin-bottom: 0;
		}
		select{
			-webkit-appearance: none;
			background: #fff;
			outline: none;
			display: block;
			color: #292929;
			height: 33px;
			width: 100%;
			font-size: 14px;
			border-radius: 5px;
			margin-bottom: 10px;
			padding: 20px 10px;
			// border-bottom: 1px solid #b6b7b8;
			// border-right: 1px solid #b6b7b8;
			box-shadow: 3px 3px 7px 0px rgba(182,183,184,0.35);
			@include breakpoint(tablet){
				display:inline-block;
				vertical-align:middle;
				margin-bottom: 0;
				margin-right: 15px;
			}
		}
	}
	
}
.filters{
	width: 320px;
	text-align: center;
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1);
	padding: 50px;
    height: 100%;
    background: #fff;
	transition: all 0.4s ease;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 11;
	overflow-x: scroll;
    visibility: hidden;
    &_active{
		transition: all 0.4s ease;
		right: 0;
		visibility: visible;
		bottom: 0;
		top: 0;
		position: fixed;
	}
	@include breakpoint(tablet){
		display: block;
		width:100%;
		height: auto;
		overflow: visible;
		right: 0;
		z-index: 6;
		visibility: visible;
		position:relative;
		padding: 0;
		box-shadow: none;
		margin-bottom: 50px;
	}
	&__close-btn{
		position: absolute;
		right: 15px;
		top: 15px;
	}
}
[id^=chkbox]{
	display: none;
}
[id^=chkbox] + label{
	display: inline-block;
	width: 19px;
	height: 19px;
	background:url('../images/checkbox_unchecked.png');
	background-repeat: no-repeat;
	// background-position: -46px -21px;
span{
		position: relative;
		top: 0px;
		left: 25px;
	}
}
[id^=chkbox]:checked + label{
	display: inline-block;
	height: 19px;
	background:url('../images/checkbox_checked.png');
	background-repeat: no-repeat;
	label{
		span{
			position: relative;
			top: 0px;
			left: 24px;
		}
	}
}
.filter__block{
	text-align: left;
	border-bottom: 1px solid #b9bbc4;
	padding: 25px 0;
	&_top{
		padding-top:0;
	}
	a{
		color: #242424;
		font-size: 14px;
	}
	a:hover{
		color: #f2762e;
	}
	&__name{
		color: #242424;
		font-size: 14px;
		font-family: 'robotoblack';
		margin-bottom: 20px;
	}
	&__item{
		margin-bottom: 15px;
		color: #5e5e5e;
		font-size: 14px;
	}
	.range-slider{
		margin-bottom: 15px;
	}
	.sliderValue{
		width: 92px;
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 5px;
		outline: none;
		border: 1px solid #c8c8c8;
		@include breakpoint(tablet){
			width: 62px;
			padding: 5px;
		}
		@media(min-width: 1130px){
			width: 92px;
			padding: 10px;
		}
	}
	.sliderValue_right{
		float:right;
	}
}
.sort-items,.show-items-on-page{
	display: inline-block;
	margin:25px 0 20px 0;
	font-size:14px;
	span{
		margin-right: 6px;
		@include breakpoint(tablet){
			margin-right: 10px;
		}
	}
	a{
		color: #000;
		margin-right:6px;
		@include breakpoint(tablet){
			margin-right: 10px;
		}
	}
	a.active{
		span{
			background: #f2762e;
			padding: 1px 2px;
			border-radius:2px;
			color: #fff;
		}
	}
}
.show-items-on-page{
	float: right;
}

///////// thanks-for-order

.thanks-for-order{
	max-width: 640px;
	margin: 50px auto 50px;
	text-align: center;
	@include breakpoint(tablet){
		margin: 100px auto 100px;
	}
	p{
		font-size: 15px;
		color: #818181;
		margin: 30px 0 50px 0;
	}
}
.order-number{
	font-family: "museosansregular";
	margin-top: 30px;
	padding: 22px 0px;
	font-size: 18px;
	background:url(../images/order_number_bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	@include breakpoint(tablet){
		font-size: 24px;
		padding: 22px 70px;
	}
}
////// brands.pug styles
.brand-container{
	margin-bottom: 80px;
}
.brand{
	color: #292929;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid #d1d1d1;
	margin-top: -1px;
	margin-left: -1px;
	&:before {
		content: "";
		padding-top: 100%;
		float: left;
	}
	&:hover{
		box-shadow: 0px 0px 25px -7px rgba(176,169,176,1);
	}
}
.brand-content{
	display: inline-block;
	text-align: center;
	&__img{
		height:35px;
		@include breakpoint(phablet){
			height:50px;
		}
		@include breakpoint(tablet){
			height:70px;
		}
		margin-bottom: 20px;
	}
	img{
		display:block;
	}
}
.no-border{
	border:none;
}
// result.pug styles//
.filters-result-name{
	margin: 35px 0;
	position: relative;
	vertical-align:middle;
	padding-left: 55px;
	img{
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -20px;
		display:inline-block;
	}
	span{
		font-size: 24px;
		color: #3b3b3b;
		font-family: 'gothamproblack';
		vertical-align:middle;
	}
}
.filters-result{
	position: relative;
	margin-bottom:30px;
}
table.filters-result-items{
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	@include breakpoint(laptop){
	width: 68%;
	}
	h4{
		margin: 0;
	}
	th{
		border: 1px solid #f2f3f4;
		background: #f2f3f4;
		padding: 10px 15px;
		h4{
			display: inline-block;
		}
		img{
			float: right;
		}
	}
	td{
		border: 1px solid #b9bbc4;
		padding: 18px;
	}
	td.picture{
		width: 20%;
		text-align: center;
		padding: 0px;
		padding-left: 5px;
		position: relative;
		border-right: none;
		@include breakpoint(phablet){
			width: auto;
			padding: 15px;
			padding-right: 0;
		}
	}
	td.text{
		position: relative;
		border-left: none;
	}
	.item-check{
		position: absolute;
		top: 10px;
		left: 10px;
	}
}
.filter-result-sum{
	position:relative;
	display: block;
	margin: 20px auto;
	padding: 20px 0;
	padding-right: 50px;
	@include breakpoint(laptop){
		padding: 20px;
		margin: 0;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 73.5%;
		border: 1px solid #c7c7c7;
	}
	&:before{
		display: none;
		position: absolute;
		transform: rotate(135deg);
		background: #fff;
		left: -9px;
		top: 30px;
		content: '';
		width: 15px;
		height: 15px;
		border-bottom: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		@include breakpoint(laptop){
			display: block;
		}
	}
}
// gallery.pug

.gallery-item{
	margin-bottom: 30px;
}

//start text-information page


//end text-information page
.text-a-center{
	text-align: center;
}
.border_top_bottom{
	border-top: 1px solid #d4d8db;
	border-bottom: 1px solid #d4d8db;
	@include breakpoint(tablet){
		border: none;
	}
}

.show-tablet-table{
	display: none;
	@include breakpoint(tablet){
		display: table;
	}
}

.show-tablet{
	display: none;
	@include breakpoint(tablet){

		display: block;
	}
}
.show-tablet-inline{
	display: none;
	@include breakpoint(tablet){
		display: inline-block;
	}
}
.show-laptop{
	display: none;
	@include breakpoint(laptop){
		display: block;
	}
}
.show-laptop-inline{
	display: none;
	@include breakpoint(laptop){
		display: inline-block;
	}
}
.hide-{
	&tablet{
		@include breakpoint(tablet){
			display: none;
		}
	}
	&laptop{
		@include breakpoint(laptop){
			display: none;
		}
	}
}




