.footer
	.wrapper
		.row.clearfix.clearfix_margin-bottom-30
			.col-mobileonly-1-2.col-phablet-1-5.col-tablet-1-5
				.footer-list
					span.footer-list__title Покупателям
					
					ul.footer-list
						li.footer-list__item
							a(href="#") Доставка
						li.footer-list__item
							a(href="#") Оплата
						li.footer-list__item
							a(href="#") Гарантии
						li.footer-list__item
							a.active(href="#") Акции
			.col-mobileonly-1-2.col-phablet-1-5_right.col-tablet-1-5.align-right_mobileonly
				.footer-list.fixed-colum
					span.footer-list__title Компани
					ul.footer-list
						li.footer-list__item
							a(href="#") О компании
						li.footer-list__item
							a(href="#") Вакансии
						li.footer-list__item
							a(href="#") Контакты
			.col-tablet-3-5.col-laptop-2-6
				.footer-payment.footer-list__title Оплата
					.footer-payment__text Вы можете оплачивать заказы банковскими картами или наличными при получении.
					.footer-payment__img
						a(href="#")
							img(src="images/visa.png", alt="visa")
						a(href="#")
							img(src="images/mastercard.png", alt="mastercard")
						a(href="#")
							img(src="images/mir.png", alt="mir")
				.footer-list.footer-list_social-items.show-tablet
					span.footer-list__title Мы в социальных сетях
					ul.footer-list
						li.footer-list__social-item
							a(href="#")
								img(src="images/twitter.png", alt="twitter")
						li.footer-list__social-item
							a(href="#")
								img(src="images/vk.png", alt="vk")
						li.footer-list__social-item
							a(href="#")
								img(src="images/fb.png", alt="fb")
						li.footer-list__social-item
							a(href="#")
								img(src="images/instagram.png", alt="instagram")
						li.footer-list__social-item
							a(href="#")
								img(src="images/youtube.png", alt="youtube")
			.col-laptop-2-6.no-padding
				.footer__contacts.show-laptop
					span.footer-list__title.chat Онлайн чат
					.footer-info__text_chat Skype, Viber, Telegram, ВКонтакте или Facebook
					span.footer-list__title.phone Телефоны
					.footer-info__phone
						a(href="#") +7 (812) 922-08-45
					.footer-info__phone
						a(href="#") +7 (911)219-12-77
					.footer-info__text  По вопросам оптовых покупок
					span.footer-list__title.adress Адрес
					.footer-info__adress Cанкт-Петербург пр. Маршала Блюхера д.1 корп.2
		.footer-list.footer-list_social-items.hide-tablet
			span.footer-list__title Мы в социальных сетях
			ul.footer-list
				li.footer-list__social-item
					a(href="#")
						img(src="images/twitter.png", alt="twitter")
				li.footer-list__social-item
					a(href="#")
						img(src="images/vk.png", alt="vk")
				li.footer-list__social-item
					a(href="#")
						img(src="images/fb.png", alt="fb")
				li.footer-list__social-item
					a(href="#")
						img(src="images/instagram.png", alt="instagram")
				li.footer-list__social-item
					a(href="#")
						img(src="images/youtube.png", alt="youtube")
		.row.clearfix.hide-laptop
			.col-mobileonly-1-2.col-phablet-1-2
				.footer-info
					.footer-info__phone
						a(href="#") +7 (812) 922-08-45
					.footer-info__phone
						a(href="#") +7 (911)219-12-77
					.footer-info__text  По вопросам оптовых покупок
			.col-mobileonly-1-2.col-phablet-1-2
				.footer-info
					.footer-info__adress Cанкт-Петербург пр. Маршала Блюхера д.1 корп.2
		hr
		.footer-rights © 2017 ООО «Авто-Тим»
		.footer__design-autor
			span Дизайн сайта -
			a(href="#") Михаил Соловьев