.footer
	.wrapper
		.row.clearfix
			.col-mobileonly-1-2.col-phablet-1-5.col-tablet-1-5
				.footer-list
					span.footer-list__title Покупателям
					ul.footer-list
						li.footer-list__item
							a(href="#") Доставка
						li.footer-list__item
							a(href="#") Оплата
						li.footer-list__item
							a(href="#") Гарантии
						li.footer-list__item
							a(href="#") Акции
			.col-mobileonly-1-2.col-phablet-1-5_right.col-tablet-1-5.align-right_mobileonly
				.footer-list
					span.footer-list__title Компания
					ul.footer-list
						li.footer-list__item
							a(href="#") О компании
						li.footer-list__item
							a(href="#") Вакансии
						li.footer-list__item
							a(href="#") Контакты
			.col-tablet-3-5.col-laptop-2-6
				.footer-payment.footer-list__title Оплата
					.footer-payment__text Вы можете оплачивать заказы банковскими картами или наличными при получении.
					.footer-payment__img
						a(href="#")
							img(src="images/visa.png")
						a(href="#")
							img(src="images/mastercard.png")
						a(href="#")
							img(src="images/mir.png")
				.footer-list.footer-list_social-items.show-tablet
					span.footer-list__title Мы в социальных сетях
					ul.footer-list
						li.footer-list__social-item
							a(href="#")
								img(src="images/twitter.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/vk.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/fb.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/instagram.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/youtube.png")
			.col-laptop-2-6
				.footer__contacts.show-laptop
					span.footer-list__title Онлайн чат
					.footer-info__text_chat Skype, Viber, Telegram, ВКонтакте или Facebook
					span.footer-list__title Телефоны
					.footer-info__phone
						a(href="#") +7 (812) 922-08-45
					.footer-info__phone
						a(href="#") +7 (911)219-12-77
					span.footer-list__title Адрес
					.footer-info__adress Cанкт-Петербург пр. Маршала Блюхера д.1 корп.2
		.footer-list.footer-list_social-items.hide-tablet
			span.footer-list__title Мы в социальных сетях
			ul.footer-list
				li.footer-list__social-item
					a(href="#")
						img(src="images/twitter.png")
				li.footer-list__social-item
					a(href="#")
						img(src="images/vk.png")
				li.footer-list__social-item
					a(href="#")
						img(src="images/fb.png")
				li.footer-list__social-item
					a(href="#")
						img(src="images/instagram.png")
				li.footer-list__social-item
					a(href="#")
						img(src="images/youtube.png")
		.row.clearfix.hide-laptop
			.col-mobileonly-1-2.col-phablet-1-2
				.footer-info
					.footer-info__phone
						a(href="#") +7 (812) 922-08-45
					.footer-info__phone
						a(href="#") +7 (911)219-12-77
					.footer-info__text  По вопросам оптовых покупок
			.col-mobileonly-1-2.col-phablet-1-2
				.footer-info
					.footer-info__adress Cанкт-Петербург пр. Маршала Блюхера д.1 корп.2
		hr
		.footer-rights © 2017 ООО «Авто-Тим»
