.header-top
	.wrapper
		.location
			img(src="images/pin.png", alt="pin")
			span Ваш город:  
			a(href="#") Москва
		.social-hrefs
			span Мы в соц. сетях:
			a(href="#")
				img(src="images/twitter.png",alt="twitter")
			a(href="#")
				img(src="images/vk.png",alt="vk")
			a(href="#")
				img(src="images/fb.png",alt="fb")
			a(href="#")
				img(src="images/instagram.png",alt="instagram")
			a(href="#")
				img(src="images/youtube.png",alt="youtube")
		.enter
			img(src="images/lock.png", alt="lock")
			a(href="#")
				span.dashed Вход
			span |
			a(href="#")
				span Регистрация
		.telephone.telephone_top-line.hide-tablet
			a(href="tel:78129220845")
				span
					|+7 812 
				span
					|922 08 45
.header-bottom
	.wrapper.header-bottom-content
		.logo
			a(href="#")
				img(src="images/logo.png", alt="logo")
		.contact-info.show-tablet
			span
				|Время работы
			.telephone
				a(href="tel:78129220845")
					span
						|+7 812 
					span
						|922 08 45
		
		a(href="#").btn.btn_callback.show-tablet
			|Перезвонить мне
		.search
			form
				input(type="search", placeholder="Поиск", name="search")
				button(type="submit")
					img(src="images/magnifying-glass.png", alt="logo")
.main-menu
	.wrapper
		ul
			li.menu-list.add-border
				.catalog
					.bars
						.bar
						.bar
						.bar
					span.hide-tablet
						|Меню
					span.show-tablet
						|Каталог товаров
				ul
					li 
						span Боксы на крышу
						span >
					li 
						span Велокрепления
						span >
					li 
						span Багажники
						span >
					li 
						span Грузовые и экспедиц. корзины
						span >
					li 
						span Багажник для лыж и сноубордов
						span >
					li 
						span Чехлы, сумки и рюкзаки
						span >
					li 
						span Цепи противоскольжения
						span >
					li 
						span Крепления
						span >
					li 
						span Автохолодильники
						span >
					li 
						span Автоодеяла 
						span >
					li 
						span Подогреватели
						span >
					li 
						span Фильтры-сепараторы Separ
						span >
					li 
						span Воздушные отопители Webasto
						span >
					li.hide-tablet
						img(src="images/lock.png", alt="lock")
						a(href="#").no-hover
							span.dashed Вход
						span |
						a(href="#").no-hover
							span Регистрация
			li.show-tablet
				a(href="#")
					span
						|О Компании
			li.show-tablet
				a(href="#")
					span
						|Доставка
			li.show-tablet
				a(href="#")
					span
						|Оплата
			li.show-tablet
				a(href="#")
					span
						|Контакты
			li.show-tablet.add-border
				a(href="#")
					span
						|Фотогалерея
			li.add-border.show-tablet
				a(href="#").no-hover
					img(src="images/settings.png", alt="filter")
			li.add-border
				a(href="#").no-hover
					img(src="images/heart.png", alt="favorite")
			li.search-mobile.add-border.hide-tablet
				a(href="#").no-hover
					img(src="images/zoom.png", alt="search")
			li.add-border
				a(href="#").no-hover
					.shoppingcart
						img(src="images/bascket.png", alt="bascket")
						span.cart-item-count 3
					.shopping-sum.show-tablet
						span
							|8800 &#8381
		.search-form
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit") Найти