.header-top
	.wrapper
		.location
			img(src="images/pin.png", alt="pin")
			span Ваш город:  
			a(href="#") Москва
		.social-hrefs
		.enter
		.telephone
			a(href="tel:78129220845")
				span
					|+7 812 
				span
							|922 08 45
.header-bottom
	.wrapper
		.logo
			a(href="#")
				img(src="images/logo.png", alt="logo")
		.contact-info
		.search
.main-menu
	ul
		li.menu-list
			.catalog
				.bars
					.bar
					.bar
					.bar
				span
					|Меню
			ul
				li 
					span Боксы на крышу
					span >
				li 
					span Велокрепления
					span >
				li 
					span Багажники
					span >
				li 
					span Грузовые и экспедиц. корзины
					span >
				li 
					span Багажник для лыж и сноубордов
					span >
				li 
					span Чехлы, сумки и рюкзаки
					span >
				li 
					span Цепи противоскольжения
					span >
				li 
					span Крепления
					span >
				li 
					span Автохолодильники
					span >
				li 
					span Автоодеяла 
					span >
				li 
					span Подогреватели
					span >
				li 
					span Фильтры-сепараторы Separ
					span >
				li 
					span Воздушные отопители Webasto
					span >
				li
	
					img(src="images/lock.png", alt="lock")
					a(href="#")
						span.dashed Вход
					span |
					a(href="#")
						span Регистрация
		li
			a(href="#")
				img(src="images/heart.png", alt="favorite")
		li.search
			a(href="#")
				img(src="images/zoom.png", alt="search")
		li
			a(href="#")
				.shoppingcart
					img(src="images/bascket.png", alt="bascket")
					span.cart-item-count 3
	.search-form
				form
					input(type="search", placeholder="Поиск", name="search")
					button(type="submit") Найти