.row.clearfix.hide-tablet
		.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
			.product.product_off-bottom-border.product_right-border
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_01.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину
		.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
			.product.product_off-bottom-border
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_03.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину
		.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
			.product.product_right-border
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_02.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину
		.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_05.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину

.slider-arrows-2
	.ls-prevSlide2.arrow.left
	.ls-nextSlide2.arrow.right
	ul#product-slider-2
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_02.png" alt="foto")
				a(href="#")
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381

				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_02.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_03.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_01.png" alt="foto")
				a(href="#") 
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381

				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_03.png" alt="foto")
				a(href="#")
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381

				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					img(src="images/heart.png" alt="foto")
				.product__img
					a(href="#")
						img(src="images/box_03.png" alt="foto")
				a(href="#")
					.product__name Бокс автомобильный Евродеталь Эклипс 300
					.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 &#8381

				.product__add-to-card
					a(href="#") В корзину