.row.clearfix.hide-tablet.border_top_bottom
	.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
		.product.product_right-border.product_bottom-border
			.product__add-favorite
				span.icon.icon_fav
			.product__img
				a(href="#")
					img(src="images/box_01.png" alt="foto")
			.product__name
				a(href="#") Бокс автомобильный Евродеталь Эклипс 300
			.product__price 8 800
				span u
			.product__add-to-card
				a(href="#") В корзину
	.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
		.product.product_bottom-border
			.product__add-favorite
				span.icon.icon_fav
			.product__img
				a(href="#")
					img(src="images/box_03.png" alt="foto")
			.product__name
				a(href="#") Бокс автомобильный Евродеталь Эклипс 300
			.product__price 8 800  
				span u
			.product__add-to-card
				a(href="#") В корзину
	.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
		.product.product_right-border
			.product__add-favorite
				span.icon.icon_fav
			.product__img
				a(href="#")
					img(src="images/box_02.png" alt="foto")
			.product__name
				a(href="#") Бокс автомобильный Евродеталь Эклипс 300
			.product__price 8 800 
				span u
			.product__add-to-card
				a(href="#") В корзину
	.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
		.product
			.product__add-favorite
				span.icon.icon_fav
			.product__img
				a(href="#")
					img(src="images/box_05.png" alt="foto")
			.product__name
				a(href="#") Грузовой бокс THULE Motion XT XXL Black (6299B)
			.product__price 8 800 
				span u
			.product__add-to-card
				a(href="#") В корзину

.slider-arrows
	.slider_controls
		span.icon.icon_product-slider_prev.ls-prevSlide2
		span.icon.icon_product-slider_next.ls-nextSlide2
	ul#product-slider-2
		li
			.product
				.product__stripe
					img(src="images/sale.png" alt="foto")
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_04.png" alt="foto")
				.product__name
					a(href="#") Бокс автомобильный Евродеталь Эклипс 300
				.peculiar-properties.show-tablet
					table
						tbody
							tr
								td
									span Размеры:
								td 124*77*40 см.

							tr
								td
									span Грузоподъемность:
								td 50 кг
							tr
								td
									span Объем:
								td  300 литров
							tr
								td
									span Вес бокса: 
								td 12 кг.
				.product__price 8 800 
					span u
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__stripe
					img(src="images/new_item.png" alt="foto")
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_05.png" alt="foto")
				.product__name
					a(href="#") Бокс автомобильный Евродеталь Эклипс 300
				.product__text Максимально увеличивает объем бокса. Водонепроницаемая. Плечевой ремень и ручки для удобства. Размер 61х42х28 см.
				.product__price 8 800 
					span u
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_02.png" alt="foto")
				.product__name
					a(href="#") Грузовой бокс THULE Motion XT XXL Black (6299B)
				.peculiar-properties.show-tablet
					table
						tbody
							tr
								td
									span Размеры:
								td 124*77*40 см.

							tr
								td
									span Грузоподъемность:
								td 50 кг
							tr
								td
									span Объем:
								td  300 литров
							tr
								td
									span Вес бокса: 
								td 12 кг.
				.product__price 8 800
					span u
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_01.png" alt="foto")
				.product__name
					a(href="#") Бокс автомобильный Евродеталь Эклипс 300
				.product__text Максимально увеличивает объем бокса. Водонепроницаемая. Плечевой ремень и ручки для удобства. Размер 61х42х28 см.
				.product__price 8 800 
					span u
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_03.png" alt="foto")
				.product__name
					a(href="#") Бокс автомобильный Евродеталь Эклипс 300
				.peculiar-properties.show-tablet
					table
						tbody
							tr
								td
									span Размеры:
								td 124*77*40 см.

							tr
								td
									span Грузоподъемность:
								td 50 кг
							tr
								td
									span Объем:
								td  300 литров
							tr
								td
									span Вес бокса: 
								td 12 кг.
				.product__price 8 800
					span u
				.product__add-to-card
					a(href="#") В корзину
		li
			.product
				.product__add-favorite
					span.icon.icon_fav
				.product__img
					a(href="#")
						img(src="images/box_04.png" alt="foto")
				.product__name
					a(href="#") Грузовой бокс THULE Motion XT XXL Black (6299B)
				.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
				.product__price 8 800 
					span u
				.product__add-to-card
					a(href="#") В корзину