html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.backdrop
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Мы официальные дилеры
			.section
				.section__title
					|Мы официальные дилеры
				.clearfix
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/thule.png", alt="brand-logo")
								span Thule
								span (5)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/calix.png", alt="brand-logo")
								span Calix
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/inno.png", alt="brand-logo")
								span Inno
								span (7)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/buzzrack.png", alt="brand-logo")
								span Buzzrack
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/eurodetail.png", alt="brand-logo")
								span Евродеталь
								span (4)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/thule.png", alt="brand-logo")
								span Thule
								span (5)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/calix.png", alt="brand-logo")
								span Calix
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/inno.png", alt="brand-logo")
								span Inno
								span (7)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/buzzrack.png", alt="brand-logo")
								span Buzzrack
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/eurodetail.png", alt="brand-logo")
								span Евродеталь
								span (4)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/thule.png", alt="brand-logo")
								span Thule
								span (5)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/calix.png", alt="brand-logo")
								span Calix
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/inno.png", alt="brand-logo")
								span Inno
								span (7)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/buzzrack.png", alt="brand-logo")
								span Buzzrack
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/eurodetail.png", alt="brand-logo")
								span Евродеталь
								span (4)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/thule.png", alt="brand-logo")
								span Thule
								span (5)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/calix.png", alt="brand-logo")
								span Calix
								span (8)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/inno.png", alt="brand-logo")
								span Inno
								span (7)
					.col-tablet-1-5.no-padding
						a(href="#").brand
							.brand-content
								.brand-content__img
									img(src="images/buzzrack.png", alt="brand-logo")
								span Buzzrack
								span (8)
		include ./parts/footer.pug