html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.backdrop
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Мы официальные дилеры
			.section
				h1
					|Мы официальные дилеры
				.container
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
					.brand
						.brand-content
							img(src="images/thule.png", alt="brand-logo")
							span Thule
							span (4)
		include ./parts/footer.pug