html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.backdrop
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Корзина
			h1 Корзина
			.product-item.hide-tablet
				.product-item__remove
					a(href="#")
						span.icon.icon_remove-item
				.product-item__description.clearfix
					.product-item__image
						img(src="images/cart_item.png", alt="cart_item")
					.product-item__number
						|арт.3166
					.product-item__name
						|Установочный комплект для авт. багажника Thule 3166
				.clearfix
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__price
							.product-item__field-name
								|Цена
							|8 800 
							span
								|u
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__amount
							.product-item__field-name
								|Количество
							span.icon.icon_amount-minus
							input(type="text" value="1" class="amount")
							span.icon.icon_amount-plus
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__sum
							.product-item__field-name
								|Сумма
							|8 800 
							span
								|u
			.product-item.hide-tablet
				.product-item__remove
					a(href="#")
						span.icon.icon_remove-item
				.product-item__description.clearfix
					.product-item__image
						img(src="images/cart_item.png", alt="cart_item")
					.product-item__number
						|арт.3166
					.product-item__name
						|Установочный комплект для авт. багажника Thule 3166
				.clearfix
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__price
							.product-item__field-name
								|Цена
							|8 800 
							span
								|u
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__amount
							.product-item__field-name
								|Количество
							span.icon.icon_amount-minus
							input(type="text" value="1" class="amount")
							span.icon.icon_amount-plus
					.col-mobileonly-1-3.col-mobileonly-1-3_padding-none.col-phablet-1-3
						.product-item__sum
							.product-item__field-name
								|Сумма
							|8 800 
							span
								|u
			table(id="order").show-tablet-table
						tr
							th
							th Наименование
							th.fix-width Цена
							th.fix-width Количество
							th.fix-width Стоимость
							th.remove-item
						tr
							td.picture
								img(src="images/cart_item_02.png")
							td 
								.product-item__name
									.product-item__number
										|арт.3166
									|Установочный комплект для авт. багажника Thule 3166
							td 
								.product-item__price
									|8 800 
									span
										|u
							td
								.product-item__amount
									span.icon.icon_amount-minus
									input(type="text" value="1" class="amount")
									span.icon.icon_amount-plus
							td 
								.product-item__sum
									|8 800 
									span
										|u
							td
								a(href="#")
									span.icon.icon_remove-item
						tr
							td.picture
								img(src="images/cart_item_02.png")
							td 
								.product-item__name
									.product-item__number
										|арт.3166
									|Установочный комплект для авт. багажника Thule 3166
							td 
								.product-item__price
									|8 800 
									span
										|u
							td
								.product-item__amount
									span.icon.icon_amount-minus
									input(type="text" value="1" class="amount")
									span.icon.icon_amount-plus
							td 
								.product-item__sum
									|8 800 
									span
										|u
							td
								a(href="#")
									span.icon.icon_remove-item
			.order-sum
				.order-sum__text.order-sum__text_cart
					span
						|Итого: 
					span
						|8 800
					span
						|u
				a(href="order_number.html").btn.btn_submit-order
					|Оформить заказ
					span
						|&#8594;
			.coupon
				p
					|Если у вас есть код купона для получения скидки, введите его здесь:
				form
						input(type="text", placeholder="", name="coupon")
						button(type="submit") Активировать
		.wrapper
			.section
				h1
					|Аксессуары
				include ./parts/products.pug
		include ./parts/footer.pug
