html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.backdrop
		.wrapper
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Бокси на крышу
			.section__title.section__title_catalog
				|Бокси на крышу
			.filter-main.hide-tablet
				form
					.filter-main__input
						select.select-brand
							option Марка 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					.filter-main__input
						select.select-model
							option Модель 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					.filter-main__input
						select.select-series
							option Серия 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					button.btn.btn_filter Подобрать
			a.btn.btn_show-filter.hide-tablet(id="show-filter-mobile")
				|Показать фильтрацию
			.row.clearfix
				.col-tablet-1-5
					include ./parts/filters.pug
				.col-tablet-4-5
					.filter-main.show-tablet
						form
							.filter-main__input
								select.select-brand(name="brand-name")
									option Марка 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							.filter-main__input
								select.select-model(name="model")
									option Модель 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							.filter-main__input
								select.select-series(name="series")
									option Серия 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							button.btn.btn_filter.btn_filter_tablet Подобрать
					.sort-items
						span
							|Сортировать по:
						a(href="#")
							span.dashed
								|Цене
							i.fa.fa-caret-down
						a(href="#")
							span.dashed
								|Популярности
							i.fa.fa-caret-up
					.show-items-on-page.show-tablet-inline
						span
							|Показывать по:
						a(href="#")
							span.dashed
								|15
						a(href="#").active
							span.dashed
								|25
						a(href="#")
							span.dashed
								|25
					.clearfix
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/sale.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_04.png" alt="foto")
								a(href="#")
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/sale.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_04.png" alt="foto")
								a(href="#")
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_01.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_01.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
						.col-mobileonly-1-2.col-phablet-1-3.col-mobileonly-1-2_padding-none.col-phablet-1-3_padding-none.col-tablet-1-3.col-laptop-1-4
							.product
								.product__stripe
									img(src="images/new_item.png" alt="foto")
								.product__add-favorite
									span.icon.icon_fav
								.product__img
									a(href="#")
										img(src="images/box_05.png" alt="foto")
								a(href="#") 
									.product__name Бокс автомобильный Евродеталь Эклипс 300
									.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
								.product__price 8 800 
									span u
								.product__add-to-card
									a(href="#") В корзину
					.paginator
						ul
							a(href="#")
								li.prev &larr;
							a(href="#")
								li 1
							a(href="#")
								li.active 2
							a(href="#")
								li 3
							a(href="#").show-tablet-inline
								li 4
							a(href="#").show-tablet-inline
								li 5
							a(href="#").show-tablet-inline
								li 6
							a(href="#")
								li.next &rarr;
		include ./parts/footer.pug
