html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.backdrop
		.wrapper
			ul.breadcrumbs.show-tablet.breadcrumbs-filters
				li
					a(href="index.html") Главная
				li
					a(href="#") Бокси на крышу
			h1.title-filters
				|Бокси на крышу
			.filter-main.hide-tablet
				form
					.filter-main__input
						select.select-brand
							option Марка 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					.filter-main__input
						select.select-model
							option Модель 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					.filter-main__input
						select.select-series
							option Серия 
							option Thule
							option Inno
							option Callix
							option Евродеталь
					.filter-main__input
						button.btn.btn_filter Подобрать
			a.btn.btn_show-filter.hide-tablet(id="show-filter-mobile")
				|Показать фильтрацию
			.row.clearfix
				.col-tablet-1-5
					include ./parts/filters.pug
				.col-tablet-4-5
					.filter-main.show-tablet
						form
							.filter-main__input
								select.select-brand(name="brand-name")
									option Марка 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							.filter-main__input
								select.select-model(name="model")
									option Модель 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							.filter-main__input
								select.select-series(name="series")
									option Серия 
									option Thule
									option Inno
									option Callix
									option Евродеталь
							.filter-main__input
								button.btn.btn_filter.btn_filter_tablet Подобрать
					.filters-result-name
						img(src="images/filter-result-brand-icon.png", alt="cart_item")
						span Багажник для BMW (БМВ) 5-серия 5D Touring, 97-00, 01-03
					.filters-result
						table.filters-result-items
							tbody
								th(colspan="2")
									h4 Thule
									img(src="images/thule_filter.png", alt="cart_item")
								tr
									td.picture
										img(src="images/cart_item.png", alt="cart_item")
										.item-check
											input(type="checkbox", name="s10", id="chkbox10")
											label(for="chkbox10")
									td.text
										.product-item__name.product-item__name_filters
											.product-item__number
												|арт.3166
											|Установочный комплект для авт. багажника Thule 3166
										.product-item__price
											|8 800 
											span
												|u
								tr
									td.picture
										img(src="images/cart_item.png", alt="cart_item")
										.item-check
											input(type="checkbox", name="s11", id="chkbox11")
											label(for="chkbox11")
									td.text
										.product-item__name.product-item__name_filters
											.product-item__number
												|арт.3166
											|Установочный комплект для авт. багажника Thule 3166
										.product-item__price
											|8 800 
											span
												|u
						.filter-result-sum
							.order-sum.order-sum_filter
								.order-sum__text
									span.filter
										|Итого за комплект: 
									span.filter-num
										|8 800
									span
										|u
							a.btn.btn_go-to-cart
								|В корзину
					.filters-result
						table.filters-result-items
							tbody
								th(colspan="2")
									h4 Thule
									img(src="images/thule_filter.png", alt="cart_item")
								tr
									td.picture
										img(src="images/cart_item.png", alt="cart_item")
										.item-check
											input(type="checkbox", name="s12", id="chkbox12")
											label(for="chkbox12")
									td.text
										.product-item__name.product-item__name_filters
											.product-item__number
												|арт.3166
											| Установочный комплект для авт. багажника Thule 3166 Установочный комплект для авт. багажника Thule 3166 Установочный комплект для авт. багажника Thule 3166
										.product-item__price
											|8 800 
											span
												|u
								tr
									td.picture
										img(src="images/cart_item.png", alt="cart_item")
										.item-check
											input(type="checkbox", name="s13", id="chkbox13")
											label(for="chkbox13")
									td.text
										.product-item__name.product-item__name_filters
											.product-item__number
												|арт.3166
											|Установочный комплект для авт. багажника Thule 3166
										.product-item__price
											|8 800 
											span
												|u
						.filter-result-sum
							.order-sum.order-sum_filter
								.order-sum__text
									span.filter
										|Итого за комплект: 
									span.filter-num
										|8 800
									span
										|u
							a.btn.btn_go-to-cart
								|В корзину
		include ./parts/footer.pug