html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.backdrop
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Галерея
			.section
				.section__title
					|Галерея
		include ./parts/footer.pug