html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.backdrop
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Галерея
			.section
				.section__title
					|Галерея
				.clearfix.gallery
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/acura.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/alfa_romeo.png")
								.galery-brand__name
									span Alfa Romeo
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/audi.png")
								.galery-brand__name
									span Audi
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/bmw.png")
								.galery-brand__name
									span BMW
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/cadillac.png")
								.galery-brand__name
									span Cadillac
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/cherry.png")
								.galery-brand__name
									span Cherry
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/chevrolet.png")
								.galery-brand__name
									span Chevrolet
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/chrysler.png")
								.galery-brand__name
									span Chrysler
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/citroen.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/daewoo.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/dodge.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/fiat.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/ford.png")
								.galery-brand__name
									span Acura
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/noname.png")
								.galery-brand__name
									span Chery
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/honda.png")
								.galery-brand__name
									span Honda
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/hummer.png")
								.galery-brand__name
									span Hummer
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/hyundai.png")
								.galery-brand__name
									span Hyundai
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/infinity.png")
								.galery-brand__name
									span Infinity
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/jeep.png")
								.galery-brand__name
									span Jeep
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/kia.png")
								.galery-brand__name
									span KIA
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/land_rover.png")
								.galery-brand__name
									span Land Rover
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/lexus.png")
								.galery-brand__name
									span Lexus
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/mazda.png")
								.galery-brand__name
									span Mazda
									span (4)
					.col-laptop-1-8.col-phablet-1-4.col-mobileonly-1-3
						a(href="#")
							.galery-brand
								.galery-brand__pic
									img(src="/images/brands/mercedes.png")
								.galery-brand__name
									span Mercedes
									span (4)
		include ./parts/footer.pug