html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.col-tablet-1-5
			|Menu
		.col-tablet-4-5
			|Slider
		.wrapper
			.section
				.section__title Популярный товар
			.section
				.section__title Новое поступление
			.section
				.section__title Популярные разделы
			.section
				.section__title Новости
			
		include ./parts/footer.pug
