html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.backdrop
		.wrapper
			.row.clearfix
				.col-tablet-1-5
				.col-tablet-4-5.add-margin.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					ul#promoslider
						li
							.promo
								.promo__pic
									img(src="images/promo_pic.png" alt="promopic")
								.promo__text
									a(href="#").btn
										|Подробнее &#8594;
						li
							.promo
								.promo__pic
									img(src="images/promo_pic.png" alt="promopic")
								.promo__text
									a(href="#").btn
										|Подробнее &#8594;
						li
							.promo
								.promo__pic
									img(src="images/promo_pic.png" alt="promopic")
								.promo__text
									a(href="#").btn
										|Подробнее &#8594;
			.row.clearfix
				.col-tablet-1-5
					.dealers
						span
							|Мы официальные диллери
						img.show-tablet-inline(src="images/right-arrow.png" alt="arrow")
				.col-tablet-4-5
					ul#dealerslider
						li
							img(src="images/thule.png" alt="foto")
						li
							img(src="images/inno.png" alt="foto")
						li
							img(src="images/calix.png" alt="foto")
						li
							img(src="images/buzzrack.png" alt="foto")
						li
							img(src="images/eurodetail.png" alt="foto")
		.wrapper
			.section
				.section__title Популярный товар
				.row.clearfix.hide-tablet
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product.product_off-bottom-border
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product.product_off-bottom-border
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_05.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
				
			.slider-arrows
				.ls-prevSlide.arrow.left
				.ls-nextSlide.arrow.right
				ul#product-slider-1
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_04.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_05.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_04.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
			.section
				.section__title Новое поступление
				.row.clearfix.hide-tablet
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product.product_off-bottom-border
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product.product_off-bottom-border
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_05.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
				
			.slider-arrows-2
				.ls-prevSlide2.arrow.left
				.ls-nextSlide2.arrow.right
				ul#product-slider-2
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__add-favorite
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 &#8381

							.product__add-to-card
								a(href="#") В корзину
		.section
			.section__title Популярные разделы
			ul#popular-section-slider.hide-tablet
				li
					a(href="#").popular-section.popular-section_grey
						img(src="images/popular_01.png")
						span
							|Боксы на крышу
				li
					a(href="#").popular-section.popular-section_blue
						img(src="images/popular_02.png")
						span
							|Велокрепления
				li
					a(href="#").popular-section.popular-section_pink
						img(src="images/popular_03.png")
						span
							|Багажники
				li
					a(href="#").popular-section.popular-section_cyan
						img(src="images/popular_04.png")
						span
							|Чехлы, сумки и рюкзаки
				li
					a(href="#").popular-section.popular-section_green
						img(src="images/popular_05.png")
						span
							|Подогреватели
			.row.clearfix.show-tablet
				.col-tablet-1-5
					a(href="#").popular-section.popular-section_grey
						img(src="images/popular_01.png")
						span
							|Боксы на крышу
				.col-tablet-1-5
					a(href="#").popular-section.popular-section_blue
						img(src="images/popular_02.png")
						span
							|Велокрепления
				.col-tablet-1-5
					a(href="#").popular-section.popular-section_pink
						img(src="images/popular_03.png")
						span
							|Багажники
				.col-tablet-1-5
					a(href="#").popular-section.popular-section_cyan
						img(src="images/popular_04.png")
						span
							|Чехлы, сумки и рюкзаки
				.col-tablet-1-5
					a(href="#").popular-section.popular-section_green
						img(src="images/popular_05.png")
						span
							|Подогреватели
			.section.show-tablet
				.section__title Новости
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-3
						.article
							.article__pic
								a(href="#")
									img(src="images/new_01.png")
							.article__info
								.article__pub-date
									a(href="#")
										|01.01.16
								.article__title
									a(href="#")
										|Какой автохолодильник лучше купить в машину?
					.col-phablet-1-2.col-tablet-1-3
						.article
							.article__pic
								a(href="#")
									img(src="images/new_02.png")
							.article__info
								.article__pub-date
									a(href="#")
										|01.01.16
								.article__title
									a(href="#")
										|Какой автохолодильник лучше купить в машину?
					.col-phablet-1-2.col-tablet-1-3
						.article
							.article__pic
								a(href="#")
									img(src="images/new_03.png")
							.article__info
								.article__pub-date
									a(href="#")
										|01.01.16
								.article__title
									a(href="#")
										|Какой автохолодильник лучше купить в машину?
		include ./parts/footer.pug
