html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.col-tablet-1-5
			|Menu
		.col-tablet-4-5
			|Slider
		.wrapper
			.section
				.section__title Популярный товар
				.row.cleaffix.hide-tablet
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product.product_off-bottom-border
							.product__icon
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product.product_off-bottom-border
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300 
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_05.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
			.slider-arrows
				.ls-prevSlide.arrow.left
				.ls-nextSlide.arrow.right
				ul#product-slider-1
					li
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__icon
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#")
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
					li
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
								.product__text Максимально увеличивает объем. Водонепроницаемая. Плечевой ремень и ручки. Размер 61х42х28 см.
							.product__price 8 800 u
							
							.product__add-to-card
								a(href="#") В корзину
							
			.section
				.section__title Новое поступление
				.row.cleaffix.hide-tablet
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product.product_off-bottom-border
							.product__icon
								img(src="images/heart.png" alt="foto")
							.product__img
								a(href="#")
									img(src="images/box_01.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product.product_off-bottom-border
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_03.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_02.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
					.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none
						.product
							.product__icon
							.product__img
								a(href="#")
									img(src="images/box_05.png" alt="foto")
							a(href="#") 
								.product__name Бокс автомобильный Евродеталь Эклипс 300
							.product__price 8 800 u
							.product__add-to-card
								a(href="#") В корзину
			.section
				.section__title Популярные разделы
			.section
				.section__title Новости
			
		include ./parts/footer.pug
