html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-tablet
				li
					a(href="index.html") Главная
				li
					a(href="#") Боксы на крышу
		.wrapper_product-card
			.row.clearfix
				.col-tablet-3-5#commodity-column_img
					.commodity
						.commodity__name.hide-tablet Бокс автомобильный Евродеталь Борнео 350 (серый)
						.commodity__producer.hide-tablet
							span Производитель:
							a(href="#") Евродеталь
						.commodity__favorite.hide-tablet
						.commodity__filter.hide-tablet
						.commodity__img
							.commodity__img_stripe
							img(src="images/product_card.png")
						.commodity__thumbnails
							.commodity__thumbnail
								img(src="images/product_card.png")
							.commodity__thumbnail
								img(src="images/product_card.png")
							.commodity__thumbnail
								img(src="images/product_video.png")
						.commodity__price.hide-tablet
							.commodity__price_before
								span 9 800
								span.rouble u
							.commodity__price_after
								span 8 800
								span.rouble u
						.commodity__add-to-card.hide-tablet В корзину
						.commodity__buy-to-click.hide-tablet Купить в 1 клик
						.peculiar-properties.hide-tablet
							.peculiar-properties_title Особенности
							table
								tbody
									tr
										td 
											span Модель:
										td Магнум 350
									tr
										td
											span Объем:
										td 350 литров
									tr
										td 
											span Внешние размеры:
										td 1400х900х420
									tr
										td
											span Открытие:
										td с двух сторон
									tr
										td 
											span Система фиксации на багажной системе: 
										td U-скоба
									tr
										td
											span Цвет:
										td черный карбон
									tr
										td 
											span Грузоподъемность:
										td 50 кг
						
						.commodity__instruction.hide-tablet Инструкция эксплуатации
						.commodity__spare-parts.hide-tablet
							a(href="#") Запчасти
						.commodity__describe.hide-tablet Описание
							.commodity__describe_text Автомобильный бокс Магнум 350 имеет оптимальные размеры (140 см в длину, 90 см в ширину и 42 см в высоту) для размещения как на коротких крышах седанов, так и на хэтчбэках, универсалах и джипах. Бокс предназначен для перевозки различных грузов. Бокс оснащен центральным замком и механическими подпружиненными держателями крышки с фиксаторами.
				.col-tablet-2-3.border-left-tablet#commodity-column
					.commodity.show-tablet
						.commodity__favorite
						.commodity__filter
						.commodity__article арт.3166
						.commodity__name Бокс автомобильный Евродеталь Борнео 350 (серый)
						.commodity__producer
							span Производитель:
							a(href="#") Евродеталь
						.commodity__price
							.commodity__price_before
								span 9 800
								span.rouble u
							.commodity__price_after
								span 8 800
								span.rouble u
						.commodity__add-to-card.show-tablet В корзину
						.commodity__buy-to-click.show-tablet Купить в 1 клик
						.peculiar-properties.show-laptop
							.peculiar-properties_title Особенности
								 
							table
								tbody
									tr
										td
											span Модель:
										td Магнум 350
									tr
										td 
											span Объем:
										td 350 литров
									tr
										td 
											span Внешние размеры:
										td 1400х900х420
									tr
										td 
											span Открытие:
										td с двух сторон
									tr
										td 
											span Система фиксации на багажной системе: 
										td U-скоба
									tr
										td
											span Цвет:
										td черныйй карбон
									tr
										td 
											span Грузоподъемность:
										td 50 кг
									tr
										td
											span Система фиксации на багажной системе: 
										td U-скоба
									tr
										td
											span Цвет:
										td черныйй карбон
									tr
										td
											span Грузоподъемность:
										td 50 кг
						.peculiar-properties_all.show-laptop
							a(href="#") Все особенности
						div
						.content
							.commodity__instruction
								a(href="#") Инструкция эксплуатации
							.commodity__spare-parts
								a(href="#") Запчасти
			.peculiar-properties.show-tablet.hide-laptop
				.peculiar-properties_title Особенности
					table
						tbody
							tr
								td 
									span Модель:
								td Магнум 350
							tr
								td 
									span Объем:
								td 350 литров
							tr
								td 
									span Внешние размеры:
								td 1400х900х420
							tr
								td
									span  Открытие:
								td с двух сторон
							tr
								td 
									span Система фиксации на багажной системе: 
								td U-скоба
							tr
								td 
									span Цвет:
								td черныйй карбон
							tr
								td 
									span Грузоподъемность:
								td 50 кг

				.commodity__instruction.hide-tablet Инструкция эксплуатации
				.commodity__spare-parts.hide-tablet
					a(href="#") Запчасти
				.commodity__describe Описание
					.commodity__describe_text Автомобильный бокс Магнум 350 имеет оптимальные размеры (140 см в длину, 90 см в ширину и 42 см в высоту) для размещения как на коротких крышах седанов, так и на хэтчбэках, универсалах и джипах. Бокс предназначен для перевозки различных грузов. Бокс оснащен центральным замком и механическими подпружиненными держателями крышки с фиксаторами.

		.wrapper
			.commodity__describe.show-tablet Описание
					.commodity__describe_text Автомобильный бокс Магнум 350 имеет оптимальные размеры (140 см в длину, 90 см в ширину и 42 см в высоту) для размещения как на коротких крышах седанов, так и на хэтчбэках, универсалах и джипах. Бокс предназначен для перевозки различных грузов. Бокс оснащен центральным замком и механическими подпружиненными держателями крышки с фиксаторам

					
			

					
		.wrapper
			.section
				.section__title Аксессуары
				include ./parts/products.pug
			.section
				.section__title Недавно вы смотрели
				include ./parts/products1.pug
		include ./parts/footer.pug