html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-tablet
				li
						a(href="index.html") Главная
				li
					a(href="#") Боксы на крышу
			h1 Автомобильные багажники (H1)
			p.text 
				| Шведская компания Thule является безусловным лидером в производстве приспособлений для перевозки грузов для легковых автомобилей и джипов. По некоторым оценкам доля ее продукции на европейском рынке  составляет более 60%. Заслуженное положение лидера обязывает предлагать потребителям продукцию наивысшего качества и эксплуатационных свойств.
			p.text
				| С другой стороны, разнообразие марок и моделей автомобилей делает необходимым разработку конструкций, максимально отвечающих требованиям автопроизводителей и автовладельцев к дизайну и аэродинамическим свойствам автобагажников и автомобильных боксов. На сегодня среди багажников и автомобильных боксов, выпускаемых компанией Thule можно найти модели, подходящие практически для всех известных марок автомобилей. Подобрать багажник для вашей машины можно у нас на сайте в верхнем меню. Автобагажники Thule это передовые технологии, современный дизайн и шведское качество.
			h2 Шведская компания Thule (H2)
			.image-left
				img(src="images/news/news_03.png")
			p.text Шведская компания Thule является безусловным лидером в производстве приспособлений для перевозки грузов для легковых автомобилей и джипов. По некоторым оценкам доля ее продукции на европейском рынке  составляет более 60%. Заслуженное положение лидера обязывает предлагать потребителям продукцию наивысшего качества и эксплуатационных свойств.

			p.text С другой стороны, разнообразие марок и моделей автомобилей делает необходимым разработку конструкций, максимально отвечающих требованиям автопроизводителей и автовладельцев к дизайну и аэродинамическим свойствам автобагажников и автомобильных боксов. На сегодня среди багажников и автомобильных боксов, выпускаемых компанией Thule можно найти модели, подходящие практически для всех известных марок автомобилей. Подобрать багажник для вашей машины можно у нас на сайте в верхнем меню. Автобагажники Thule это передовые технологии, современный дизайн и шведское качество.

			p.text Поперечины  Thule выполняются из легкого алюминия, дающего прекрасные аэродинамические свойства, либо из традиционной стали. Но, во всяком случае, потребитель сможет по достоинству оценить удобство и надежность креплений, с помощью которых багажники присоединены к крыше автомобиля.
			p.text Шведская компания Thule является безусловным лидером в производстве приспособлений для перевозки грузов для легковых автомобилей и джипов. По некоторым оценкам доля ее продукции на европейском рынке  составляет более 60%. Заслуженное положение лидера обязывает предлагать потребителям продукцию наивысшего качества и эксплуатационных свойств.

			p.text С другой стороны, разнообразие марок и моделей автомобилей делает необходимым разработку конструкций, максимально отвечающих требованиям автопроизводителей и автовладельцев к дизайну и аэродинамическим свойствам автобагажников и автомобильных боксов. На сегодня среди багажников и автомобильных боксов, выпускаемых компанией Thule можно найти модели, подходящие практически для всех известных марок автомобилей. Подобрать багажник для вашей машины можно у нас на сайте в верхнем меню. Автобагажники Thule это передовые технологии, современный дизайн и шведское качество.
			h3 Шведская компания Thule (H3)
			ul.text
				li Автохолодильники
				li Продукция WAECO Dometic
				li Автоодеяла АВТОТЕПЛО
				li Подогреватели DEFA WarmUp
				li Подогреватели Calix
				li Подогреватели СЕВЕРС+
			ul.text
				li Автохолодильники
				li Продукция WAECO Dometic
				li Автоодеяла АВТОТЕПЛО
				li Подогреватели DEFA WarmUp
				li Подогреватели Calix
				li Подогреватели СЕВЕРС+
			h4 Шведская компания Thule (H4)
			p.text Шведская компания Thule является безусловным лидером в производстве приспособлений для перевозки грузов для легковых автомобилей и джипов. По некоторым оценкам доля ее продукции на европейском рынке  составляет более 60%. Заслуженное положение лидера обязывает предлагать потребителям продукцию наивысшего качества и эксплуатационных свойств.
			p.text С другой стороны, разнообразие марок и моделей автомобилей делает необходимым разработку конструкций, максимально отвечающих требованиям автопроизводителей и автовладельцев к дизайну и аэродинамическим свойствам автобагажников и автомобильных боксов. На сегодня среди багажников и автомобильных боксов, выпускаемых компанией Thule можно найти модели, подходящие практически для всех известных марок автомобилей. Подобрать багажник для вашей машины можно у нас на сайте в верхнем меню. Автобагажники Thule это передовые технологии, современный дизайн и шведское качество.
			form.comments
				h4 Комментарии
				.comments__img
					img(src="images/user.png" alt="foto")
				textarea.comments__textarea(placeholder="Ваше сообщение...")
				.comments__textarea-underline
				.comments__hint Ctrl + Enter - отправить сообщение
				.social-come-in
					.social-come-in__title войти используя
					.social-come-in__icons
						.icon.icon_sv
						.icon.icon_vk
						.icon.icon_ok
						.icon.icon_mail-ru
						.icon.icon_fb
						.icon.icon_tw
						.icon.icon_g
				.registration
					.registration__title или зарегистрируйтесь в sv
					input.registration__name(placeholder="Имя")
					input.registration__mail(placeholder="Електронная почта")
					input.registration__password(placeholder="Параль")
					input#guest-public(type="checkbox")
					label(for="guest-public") я бы предпочёл опубликовать как гость
					input.registration__submit(type="image" src="images/send_comment.png")
			br
			a.best-reviews(href="#") Лучшие 
				i.fa.fa-sort-down
			.no-comments 
				.no-comments__text Никто еще не оставил комментариев
		include ./parts/footer.pug